@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> signInManager;
@inject UserManager<ApplicationUser> UserManager

@{
    var usuario = await UserManager.GetUserAsync(User);
}


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"] - ecomFront</title>

    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <link href="~/global_assets/css/icons/iconmoon/styles.min.css" rel="stylesheet" type="text/css">
    <link href="~/global_assets/css/icons/material/styles.min.css" rel="stylesheet" type="text/css">
    <link href="~/global_assets/css/icons/fontawesome/styles.min.css" rel="stylesheet" type="text/css">

    <link href="~/assets/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="~/assets/css/style.css" rel="stylesheet" type="text/css" />
    <!-- /global stylesheets -->
    <!-- Core JS files -->
    <script src="~/global_assets/js/main/jquery.min.js"></script>
    <script src="~/global_assets/js/main/bootstrap.bundle.min.js"></script>
    <!-- /core JS files -->
    <!-- Theme JS files -->
    <script src="~/global_assets/js/plugins/notifications/jgrowl.min.js"></script>
    <script src="~/global_assets/js/plugins/visualization/echarts/echarts.min.js"></script>
    <script src="~/global_assets/js/plugins/visualization/d3/d3.min.js"></script>
    <script src="~/global_assets/js/plugins/visualization/d3/d3_tooltip.js"></script>
    <script src="~/global_assets/js/plugins/ui/moment/moment.min.js"></script>
    <script src="~/global_assets/js/plugins/pickers/daterangepicker.js"></script>
    <script src="~/assets/js/app.js"></script>
    <script src="~/assets/js/custom.js"></script>

</head>
<body>
    <!-- Main navbar -->
    <div class="navbar navbar-expand-lg navbar-dark bg-indigo navbar-static">
        <div class="d-flex flex-1 d-lg-none">
            <button class="navbar-toggler sidebar-mobile-main-toggle" type="button">
                <i class="icon-paragraph-justify3"></i>
            </button>

            <button data-target="#navbar-search" type="button" class="navbar-toggler" data-toggle="collapse">
                <i class="icon-search4"></i>
            </button>
        </div>

        <div class="navbar-brand text-center text-lg-left p-0">
            <div class="d-inline-block">
                <embed src="../../../../global_assets/images/logo_color_sin_texto.svg" class="d-none d-sm-block mt-2 " style="height:40px;" />
            </div>
            <div class="d-inline-block">
                <embed src="../../../../global_assets/images/texto_blanco.svg" class="d-none d-sm-block mb-1 ml-2" style="height:20px;" />
            </div>
        </div>

        <div class="navbar-collapse collapse flex-lg-1 mx-lg-3 order-2 order-lg-1" id="navbar-search">

        </div>

        <div class="d-flex justify-content-end align-items-center flex-1 flex-lg-0 order-1 order-lg-2">
            <ul class="navbar-nav flex-row">
                <li class="nav-item nav-item-dropdown-lg dropdown">
                    <a id="ActivityInformation" href="#" class="navbar-nav-link navbar-nav-link-toggler dropdown-toggle" data-toggle="dropdown">
                        <i class="icon-pulse2"></i>
                        <span class="d-none d-lg-inline-block ml-2">Actividad</span>
                    </a>

                    <div class="dropdown-menu dropdown-menu-right dropdown-content wmin-lg-350" id="dropdownActividades">
                        <div class="dropdown-content-body dropdown-scrollable">
                            <ul class="media-list" id="activityList">
                                <li class="media">
                                    <div class="mr-3">
                                        <a href="#" class="btn btn-indigo rounded-pill btn-icon"><i class="icon-graph"></i></a>
                                    </div>

                                    <div class="media-body">
                                        El análisis (#24) de "Soportes de Aluminio" esta disponible!
                                        <div class="font-size-sm text-muted mt-1">hace algunos dias</div>
                                    </div>
                                </li>

                                <li class="media">
                                    <div class="mr-3">
                                        <a href="#" class="btn btn-success rounded-pill btn-icon"><i class="icon-check"></i></a>
                                    </div>

                                    <div class="media-body">
                                        Ejecución #24 finalizó con éxito!
                                        <div class="font-size-sm text-muted mt-1">hace algunos dias</div>
                                    </div>
                                </li>

                                <li class="media">
                                    <div class="mr-3">
                                        <a href="#" class="btn btn-pink rounded-pill btn-icon"><i class="icon-gear"></i></a>
                                    </div>

                                    <div class="media-body">
                                        Ejecucion #24 fue lanzada con éxito!
                                        <div class="font-size-sm text-muted mt-1">hace algunos dias</div>
                                    </div>
                                </li>

                                <li class="media">
                                    <div class="mr-3">
                                        <a href="#" class="btn btn-warning rounded-pill btn-icon"><i class="icon-search4"></i></a>
                                    </div>

                                    <div class="media-body">
                                        Búsqueda "Soportes de Aluminio" creada con exito!
                                        <div class="font-size-sm text-muted mt-1">hace una semana</div>
                                    </div>
                                </li>

                                <li class="media">
                                    <div class="mr-3">
                                        <a href="#" class="btn btn-indigo rounded-pill btn-icon"><i class="icon-graph"></i></a>
                                    </div>

                                    <div class="media-body">
                                        El análisis (#22) de "Teclado Gamer" esta disponible!
                                        <div class="font-size-sm text-muted mt-1">hace una semana</div>
                                    </div>
                                </li>

                                <li class="media">
                                    <div class="mr-3">
                                        <a href="#" class="btn btn-success rounded-pill btn-icon"><i class="icon-check"></i></a>
                                    </div>

                                    <div class="media-body">
                                        Ejecución #22 finalizó con éxito!
                                        <div class="font-size-sm text-muted mt-1">hace una semana</div>
                                    </div>
                                </li>

                                <li class="media">
                                    <div class="mr-3">
                                        <a href="#" class="btn btn-pink rounded-pill btn-icon"><i class="icon-gear"></i></a>
                                    </div>

                                    <div class="media-body">
                                        Ejecucion #22 fue lanzada con éxito!
                                        <div class="font-size-sm text-muted mt-1">hace una semana</div>
                                    </div>
                                </li>

                            </ul>
                        </div>

                        <div class="dropdown-content-footer bg-light">
                            <a href="#" class="font-size-sm line-height-sm text-uppercase font-weight-semibold text-body mr-auto">TODA LA ACTIVIDAD</a>
                            <div>
                                <a id="cleanList" href="javascript:;" class="text-body" data-popup="tooltip" title="Limpiar Lista"><i class="icon-checkmark3"></i></a>
                            </div>
                        </div>
                    </div>
                </li>

                <li class="nav-item">
                    <a href="#" onclick="document.getElementById('logoutForm').submit()" class="navbar-nav-link navbar-nav-link-toggler">
                        <i class="icon-switch2"></i>
                    </a>
                </li>
            </ul>
            <form asp-area="" asp-controller="Home" asp-action="Logout" method="post" id="logoutForm" autocomplete="off"></form>
        </div>
    </div>
    <!-- /main navbar -->
    <!-- Page content -->
    <div class="page-content">
        <!-- Main sidebar -->
        <div class="sidebar sidebar-light sidebar-main sidebar-expand-lg">
            <!-- Sidebar content -->
            <div class="sidebar-content">

                <!-- User menu -->
                <div class="sidebar-section">
                    <div class="sidebar-user-material">
                        <div class="sidebar-section-body">
                            <div class="d-flex">
                                <div class="flex-1">
                                    <button type="button" class="btn btn-outline-light border-transparent btn-icon btn-sm rounded-pill">
                                        <i class="icon-wrench"></i>
                                    </button>
                                </div>
                                <a href="#" class="flex-1 text-center"><img src="../../../../global_assets/images/logo_unlam.png" class="img-fluid rounded-circle shadow-sm" width="80" height="80" alt=""></a>
                                <div class="flex-1 text-right">
                                    <button type="button" id="sidebar-toggle" class="btn btn-outline-light border-transparent btn-icon rounded-pill btn-sm sidebar-control sidebar-main-resize d-none d-lg-inline-flex">
                                        <i class="icon-transmission"></i>
                                    </button>

                                    <button type="button" class="btn btn-outline-light border-transparent btn-icon rounded-pill btn-sm sidebar-mobile-main-toggle d-lg-none">
                                        <i class="icon-cross2"></i>
                                    </button>
                                </div>
                            </div>

                            <div class="text-center">
                                <h6 class="mb-0 text-white text-shadow-dark mt-3"> @usuario.Nombre @usuario.Apellido </h6>
                                <span class="font-size-sm text-white text-shadow-dark">@Context.User.Identity.Name</span>
                            </div>
                        </div>

                        @*<div class="sidebar-user-material-footer">
                            <a href="#user-nav" class="d-flex justify-content-between align-items-center text-shadow-dark dropdown-toggle" data-toggle="collapse"><span>Mi Cuenta</span></a>
                        </div>*@
                    </div>

                    @*<div class="collapse border-bottom" id="user-nav">
                        <partial name="_LoginPartial" />
                    </div>*@
                </div>
                <!-- /user menu -->
                <!-- Main navigation -->
                <div class="sidebar-section">
                    <ul class="nav nav-sidebar" data-nav-type="accordion">
                        <!-- Main -->
                        <li class="nav-item-header"><div class="text-uppercase font-size-xs line-height-xs mt-1">Principal</div> <i class="icon-menu" title="Main"></i></li>
                        <li class="nav-item">
                            <a asp-area="" asp-controller="Search" asp-action="HomeAddSearch" class="nav-link @(ViewData["MenuOption"]?.ToString() == "NewSearch" ? "active" : "")">
                                <i class="icon-new"></i>
                                <span>
                                    Nueva Búsqueda
                                </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-area="" asp-controller="Search" asp-action="Searches" class="nav-link @(ViewData["MenuOption"]?.ToString() == "Searches" ? "active" : "")">
                                <i class="icon-search4"></i>
                                <span>
                                    Búsquedas
                                </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-area="" asp-controller="Search" asp-action="AllExecutions" class="nav-link @(ViewData["MenuOption"]?.ToString() == "Executions" ? "active" : "")">
                                <i class="icon-graph"></i>
                                <span>
                                    Análisis Ejecutados
                                </span>
                            </a>
                        </li>

                        <li class="nav-item-header"><div class="text-uppercase font-size-xs line-height-xs mt-1">Mi cuenta</div> <i class="icon-menu" title="Main"></i></li>
                        <li class="nav-item">
                            <a asp-area="" asp-controller="Home" asp-action="Profile" class="nav-link">
                                <i class="icon-user-plus"></i>
                                <span>Mi Perfil</span>
                            </a>
                        </li>
                        <li class="nav-item" style="cursor:pointer;" data-popup="tooltip" title="" data-placement="top" data-original-title="Versión DEMO. No tiene pagos asociados">
                            <a href="#" class="nav-link disabled">
                                <i class="icon-cash3"></i>
                                <span>Mis Pagos</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-area="" asp-controller="Shared" asp-action="Activities" class="nav-link @(ViewData["MenuOption"]?.ToString() == "Activities" ? "active" : "")">
                                <i class="icon-pulse2"></i>
                                <span>Actividad</span>
                                <span class="badge badge-teal badge-pill align-self-center ml-auto" id="actividadesSinLeer">0</span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a href="#" onclick="document.getElementById('logoutForm').submit()" class="nav-link">
                                <i class="icon-switch2"></i>
                                <span>Salir</span>
                            </a>
                        </li>
                    </ul>
                </div>
                <!-- /main navigation -->

            </div>
            <!-- /sidebar content -->
        </div>
        <!-- /main sidebar -->
        <div class="content-wrapper">
            <!-- Inner content -->
            <div class="content-inner">
                @RenderBody()
            </div>
            <!-- /inner content -->
        </div>
        <!-- /main content -->
    </div>
    <!-- /page content -->

    @RenderSection("Scripts", required: false)

<script type="text/javascript">
    var isFillActivity = false;

    document.addEventListener('DOMContentLoaded', function () {
        //fillActividad();
        updateActividadesSinLeer();
        }); 

    function updateActividadesSinLeer() {
        $.ajax({
            type: "GET",
            url: "/Shared/ActividadesSinLeer",
            contentType: "application/json"
        }).done(function (data) {
            $('#actividadesSinLeer').text(data);
        });
        
    }

    $('#cleanList').click(function (e) {
        $.ajax({
            type: "GET",
            url: "/Shared/CleanList",
            contentType: "application/json"
        }).done(function () {
            $('#activityList').empty();
        });
    })

    $('#ActivityInformation').click(function (e) {
        fillActividad();
    });


    function fillActividad() {
        if (!isFillActivity) {
            $('#activityList').empty();
            $.ajax({
                type: "GET",
                url: "/Shared/GetActivity",
                contentType: "application/json"
            }).done(function (activityList) {
                isFillActivity = true;
                if (activityList != null && activityList.length > 0) {
                    activityList.forEach(function (value, index, array) {
                        var icon = '';
                        var color = '';
                        switch (value.tipoActividad) {
                            case "USER":
                                icon = "icon-user";
                                color = 'primary';
                                break;
                            case "SEARCH":
                                icon = "icon-search4";
                                color = 'warning';
                                break;
                            case "EXECUTION_START":
                                icon = "icon-gear";
                                color = 'pink';
                                break;
                            case "EXECUTION_FINISH":
                                icon = "icon-flag3";
                                color = 'success';
                                break;
                            case "EXECUTION_AVAILABLE":
                                icon = "icon-graph";
                                color = 'indigo';
                                break;
                            default:
                                icon = "icon-question3";
                                color = 'secondary';
                                break;
                        }

                        var li = $('<li />',
                            {
                                class: "media"
                            })
                            .appendTo($('#activityList'));

                        var divIcon = $('<div />',
                            {
                                class: "mr-3"
                            })
                            .appendTo(li);

                        var aIcon = $('<a />',
                            {
                                href: 'javascript:;',
                                class: "btn rounded-pill btn-icon btn-" + color,
                            })
                            .appendTo(divIcon);

                        var icon = $('<i />',
                            {
                                class: icon,
                            })
                            .appendTo(aIcon);

                        var divMediaBody = $('<div />',
                            {
                                class: "media-body",
                                text: value.descripcion
                            })
                            .appendTo(li);

                        var parsedFecha = new Date(Date.parse(value.fecha));
                        var str_fecha = ''

                        if (parsedFecha < addDays(-30)) {
                            str_fecha = 'hace mas de un mes';
                        }
                        else if (parsedFecha < addDays(-15)) {
                            str_fecha = 'hace algunas semanas';
                        }
                        else if (parsedFecha < addDays(-7)) {
                            str_fecha = 'hace una semana';
                        }
                        else if (parsedFecha < addDays(-1)) {
                            str_fecha = 'hace unos días';
                        }
                        else if (parsedFecha < addDays(0)) {
                            str_fecha = 'hace unos minutos';
                        }
                        else {
                            str_fecha = 'desconocido';
                        }

                        var divMediaFecha = $('<div />',
                            {
                                class: "font-size-sm text-muted mt-1",
                                text: str_fecha
                            })
                            .appendTo(divMediaBody);
                    });
                }
                else {
                    var li = $('<li />',
                        {
                            class: "media"
                        })
                        .appendTo($('#activityList'));

                    var divIcon = $('<div />',
                        {
                            class: "mr-3 text-center",
                            text: 'Todas las actividades han sido leidas!'
                        })
                        .appendTo(li);

                }
            });
        }
    }

    function addDays(days) {
        const date = new Date();
        date.setDate(date.getDate() + days);
        return date;
    };

</script>

</body>
</html>
