@using Microsoft.AspNetCore.Identity

@inject SignInManager<ApplicationUser> signInManager;
@inject UserManager<ApplicationUser> UserManager

@{
    var usuario = await UserManager.GetUserAsync(User);
    
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"] - ecomFront</title>

    <!-- Global stylesheets -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,300,100,500,700,900" rel="stylesheet" type="text/css">
    <link href="~/global_assets/css/icons/iconmoon/styles.min.css" rel="stylesheet" type="text/css">
    <link href="~/global_assets/css/icons/material/styles.min.css" rel="stylesheet" type="text/css">
    <link href="~/global_assets/css/icons/fontawesome/styles.min.css" rel="stylesheet" type="text/css">

    <link href="~/assets/css/all.min.css" rel="stylesheet" type="text/css">
    <link href="~/assets/css/style.css" rel="stylesheet" type="text/css" />
    <!-- /global stylesheets -->
    <!-- Core JS files -->
    <script src="~/global_assets/js/main/jquery.min.js"></script>
    <script src="~/global_assets/js/main/bootstrap.bundle.min.js"></script>
    <!-- /core JS files -->
    <!-- Theme JS files -->
    <script src="~/global_assets/js/plugins/notifications/jgrowl.min.js"></script>
    <script src="~/global_assets/js/plugins/visualization/echarts/echarts.min.js"></script>
    <script src="~/global_assets/js/plugins/visualization/d3/d3.min.js"></script>
    <script src="~/global_assets/js/plugins/visualization/d3/d3_tooltip.js"></script>
    <script src="~/global_assets/js/plugins/ui/moment/moment.min.js"></script>
    <script src="~/global_assets/js/plugins/pickers/daterangepicker.js"></script>
    <script src="~/assets/js/app.js"></script>
    <script src="~/assets/js/custom.js"></script>

</head>
<body>
    <!-- Main navbar -->
    <div class="navbar navbar-expand-lg navbar-dark bg-indigo navbar-static">
        <div class="d-flex flex-1 d-lg-none">
            <button class="navbar-toggler sidebar-mobile-main-toggle" type="button">
                <i class="icon-paragraph-justify3"></i>
            </button>

            <button data-target="#navbar-search" type="button" class="navbar-toggler" data-toggle="collapse">
                <i class="icon-search4"></i>
            </button>
        </div>

        <div class="navbar-brand text-center text-lg-left p-0">
            <div class="d-inline-block">
                <embed src="../../../../global_assets/images/logo_color_sin_texto.svg" class="d-none d-sm-block mt-2 " style="height:40px;" />
            </div>
            <div class="d-inline-block">
                <embed src="../../../../global_assets/images/texto_blanco.svg" class="d-none d-sm-block mb-1 ml-2" style="height:20px;" />
            </div>
        </div>

        <div class="navbar-collapse collapse flex-lg-1 mx-lg-3 order-2 order-lg-1" id="navbar-search">

        </div>

        <div class="d-flex justify-content-end align-items-center flex-1 flex-lg-0 order-1 order-lg-2">
            <ul class="navbar-nav flex-row">
                <li class="nav-item nav-item-dropdown-lg dropdown">
                    <a href="#" class="navbar-nav-link navbar-nav-link-toggler dropdown-toggle" data-toggle="dropdown">
                        <i class="icon-pulse2"></i>
                        <span class="d-none d-lg-inline-block ml-2">Actividad</span>
                    </a>

                    <div class="dropdown-menu dropdown-menu-right dropdown-content wmin-lg-350">
                        <div class="dropdown-content-body dropdown-scrollable">
                            <ul class="media-list">
                                <li class="media">
                                    <div class="mr-3">
                                        <a href="#" class="btn btn-success rounded-pill btn-icon"><i class="icon-gear"></i></a>
                                    </div>

                                    <div class="media-body">
                                        El análisis correspondiente a la ejecucion <a href="#">#1324</a> esta disponible!
                                        <div class="font-size-sm text-muted mt-1">la semana pasada</div>
                                    </div>
                                </li>

                                <li class="media">
                                    <div class="mr-3">
                                        <a href="#" class="btn btn-teal rounded-pill btn-icon"><i class="icon-spinner11"></i></a>
                                    </div>

                                    <div class="media-body">
                                        La solicitud de ejecucion fue recibida. Enviaremos un mail informando cuando este disponible!
                                        <div class="font-size-sm text-muted mt-1">la semana pasada</div>
                                    </div>
                                </li>

                                <li class="media">
                                    <div class="mr-3">
                                        <a href="#" class="btn btn-pink rounded-pill btn-icon"><i class="icon-cash3"></i></a>
                                    </div>

                                    <div class="media-body">
                                        Su pago fue acreditado con exito. <a href="#">Ver recibo.</a>
                                        <div class="font-size-sm text-muted mt-1">la semana pasada</div>
                                    </div>
                                </li>

                                <li class="media">
                                    <div class="mr-3">
                                        <a href="#" class="btn btn-primary rounded-pill btn-icon"><i class="icon-search4"></i></a>
                                    </div>

                                    <div class="media-body">
                                        La busqueda <a href="#"> #12 </a> fue guardada correctamente!
                                        <div class="font-size-sm text-muted mt-1">2 horas atrás</div>
                                    </div>
                                </li>
                            </ul>
                        </div>

                        <div class="dropdown-content-footer bg-light">
                            <a href="#" class="font-size-sm line-height-sm text-uppercase font-weight-semibold text-body mr-auto">TODA LA ACTIVIDAD</a>
                            <div>
                                <a href="#" class="text-body" data-popup="tooltip" title="Limpiar Lista"><i class="icon-checkmark3"></i></a>
                            </div>
                        </div>
                    </div>
                </li>

                <li class="nav-item">
                    <a href="#" onclick="document.getElementById('logoutForm').submit()" class="navbar-nav-link navbar-nav-link-toggler">
                        <i class="icon-switch2"></i>
                    </a>
                </li>
            </ul>
            <form asp-area="" asp-controller="Home" asp-action="Logout" method="post" id="logoutForm" autocomplete="off"></form> 
        </div>
    </div>
    <!-- /main navbar -->
    <!-- Page content -->
    <div class="page-content">
        <!-- Main sidebar -->
        <div class="sidebar sidebar-light sidebar-main sidebar-expand-lg">
            <!-- Sidebar content -->
            <div class="sidebar-content">

                <!-- User menu -->
                <div class="sidebar-section">
                    <div class="sidebar-user-material">
                        <div class="sidebar-section-body">
                            <div class="d-flex">
                                <div class="flex-1">
                                    <button type="button" class="btn btn-outline-light border-transparent btn-icon btn-sm rounded-pill">
                                        <i class="icon-wrench"></i>
                                    </button>
                                </div>
                                <a href="#" class="flex-1 text-center"><img src="../../../../global_assets/images/logo_unlam.png" class="img-fluid rounded-circle shadow-sm" width="80" height="80" alt=""></a>
                                <div class="flex-1 text-right">
                                    <button type="button" id="sidebar-toggle" class="btn btn-outline-light border-transparent btn-icon rounded-pill btn-sm sidebar-control sidebar-main-resize d-none d-lg-inline-flex">
                                        <i class="icon-transmission"></i>
                                    </button>

                                    <button type="button" class="btn btn-outline-light border-transparent btn-icon rounded-pill btn-sm sidebar-mobile-main-toggle d-lg-none">
                                        <i class="icon-cross2"></i>
                                    </button>
                                </div>
                            </div>

                            <div class="text-center">
                                <h6 class="mb-0 text-white text-shadow-dark mt-3"> @usuario.Nombre @usuario.Apellido </h6>
                                        <span class="font-size-sm text-white text-shadow-dark">@Context.User.Identity.Name</span>
                            </div>
                        </div>

                        <div class="sidebar-user-material-footer">
                            <a href="#user-nav" class="d-flex justify-content-between align-items-center text-shadow-dark dropdown-toggle" data-toggle="collapse"><span>Mi Cuenta</span></a>
                        </div>
                    </div>

                    <div class="collapse border-bottom" id="user-nav">
                        <partial name="_LoginPartial" />
                    </div>
                </div>
                <!-- /user menu -->
                <!-- Main navigation -->
                <div class="sidebar-section">
                    <ul class="nav nav-sidebar" data-nav-type="accordion">
                        <!-- Main -->
                        <li class="nav-item-header"><div class="text-uppercase font-size-xs line-height-xs mt-1">Principal</div> <i class="icon-menu" title="Main"></i></li>
                        <li class="nav-item">
                            <a asp-area="" asp-controller="Search" asp-action="HomeAddSearch" class="nav-link @(ViewData["MenuOption"]?.ToString() == "NewSearch" ? "active" : "")">
                                <i class="icon-new"></i>
                                <span>
                                    Nueva Busqueda
                                </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-area="" asp-controller="Search" asp-action="Searches" class="nav-link @(ViewData["MenuOption"]?.ToString() == "Searches" ? "active" : "")">
                                <i class="icon-search4"></i>
                                <span>
                                    Busquedas
                                </span>
                            </a>
                        </li>
                        <li class="nav-item">
                            <a asp-area="" asp-controller="Search" asp-action="AllExecutions" class="nav-link @(ViewData["MenuOption"]?.ToString() == "Searches" ? "active" : "")">
                                <i class="icon-search4"></i>
                                <span>
                                    Ver ejecuciones
                                </span>
                            </a>
                        </li>
                        <li class="nav-item nav-item-submenu">
                            <a href="#" class="nav-link"><i class="icon-statistics"></i> <span>Analisis Disponibles</span></a>

                            <ul class="nav nav-group-sub" data-submenu-title="Layouts">
                                <li class="nav-item"><a href="#" class="nav-link disabled">Zapatillas Running...<span class="badge bg-transparent align-self-center ml-auto">En Proceso</span></a></li>
                                <li class="nav-item"><a href="#" class="nav-link active">[23\07] Iphone 7 128...</a></li>
                                <li class="nav-item"><a href="#" class="nav-link">[23\07] Zapatillas Running...</a></li>
                                <li class="nav-item"><a href="#" class="nav-link">[16\07] Muñecos Impresos...</a></li>
                                <li class="nav-item"><a href="#" class="nav-link">[15\07] Iphone 7 128...</a></li>
                                <li class="nav-item"><a href="#" class="nav-link">[10\06] Muñecos Impresos...</a></li>
                                <li class="nav-item"><a href="#" class="nav-link">[07\06] Iphone 7 128...</a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
                <!-- /main navigation -->

            </div>
            <!-- /sidebar content -->
        </div>
        <!-- /main sidebar -->
        <div class="content-wrapper">
            <!-- Inner content -->
            <div class="content-inner">
                @RenderBody()
            </div>
            <!-- /inner content -->
        </div>
        <!-- /main content -->
    </div>
    <!-- /page content -->

    @RenderSection("Scripts", required: false)
</body>
</html>
