@using ecomFront.Models.SellerViewModel
@using ecomFront.Common
@using Newtonsoft.Json;

@{
    ViewData["Title"] = "Home Sellers";
    Layout = "_Layout";
}
@model HomeSellerViewModel
<!-- Page header -->
<div class="page-header page-header-light">
    <div class="page-header-content header-elements-lg-inline">
        <div class="page-title d-flex">
            <a href="#" class="header-elements-toggle text-body d-lg-none"><i class="icon-more"></i></a>
        </div>
        <div class="header-elements d-none">
            <div class="d-flex  order-2 justify-content-center">
                <a asp-area="" asp-controller="Pricing" asp-action="HomePricing" asp-route-executionId="@Model.Execution.IdExecution" class="btn btn-link btn-float font-size-xs font-weight-semibold text-body" style="width:120px">
                    <i class="icon-coin-dollar icon-2x text-teal"></i>
                    <span>Precios</span>
                </a>
                <a asp-area="" asp-controller="Sales" asp-action="HomeSales" asp-route-executionId="@Model.Execution.IdExecution" class="btn btn-link btn-float font-size-xs font-weight-semibold text-body" style="width:120px">
                    <i class="mi-shopping-cart  mi-2x text-teal"></i>
                    <span>Ventas</span>
                </a>
                <a asp-area="" asp-controller="Trend" asp-action="HomeTrend" asp-route-executionId="@Model.Execution.IdExecution" class="btn btn-link btn-float font-size-xs font-weight-semibold text-body" style="width:120px">
                    <i class="mi-trending-up  mi-2x text-teal"></i>
                    <span>Tendencias</span>
                </a>
                <a asp-area="" asp-controller="Seller" asp-action="HomeSellers" asp-route-executionId="@Model.Execution.IdExecution" class="btn btn-link btn-float font-size-xs font-weight-semibold text-body" style="width:120px">
                    <i class="mi-people-outline  mi-2x text-teal"></i>
                    <span>Competidores</span>
                </a>
                <a asp-area="" asp-controller="Listing" asp-action="ListingList" asp-route-executionId="@Model.Execution.IdExecution" class="btn btn-link btn-float font-size-xs font-weight-semibold text-body" style="width:120px">
                    <i class="icon-coin-dollar icon-2x text-teal"></i>
                    <span>PUBLICACIONES</span>
                </a>
            </div>
        </div>
    </div>
    <div class="breadcrumb-line breadcrumb-line-light header-elements-lg-inline">
        <div class="d-flex">
            <div class="breadcrumb">
                <a asp-area="" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
                <a asp-area="" asp-controller="Search" asp-action="Searches" class="breadcrumb-item"> Búsqueda</a>
                <a asp-area="" asp-controller="Analisis" asp-action="HomeAnalisis" asp-route-executionId="@Model.Execution.IdExecution" class="breadcrumb-item"> @Model.Search.Description</a>
                <span class="breadcrumb-item active">Análisis de Competidores</span>
            </div>
            <a href="#" class="header-elements-toggle text-body d-lg-none"><i class="icon-more"></i></a>
        </div>
        <div class="header-elements d-none">
            <div class="breadcrumb justify-content-center">
                <a href="#" data-toggle="modal" data-target="#modal_info_competidores" >
                    <i class="mi-info-outline mr-3 mi-2x"></i>
                </a>
            </div>
        </div>
    </div>
</div>
<!-- /page header -->
<div class="content">
    @{
        var sellerList = Model.SellerInformation.Select(ts => ts.sellerId).Distinct();
    }
    <div class="row">
        @foreach (var sellerId in sellerList.Take(3))
        {
            var sellerData = Model.SellerInformation.FirstOrDefault(ts => ts.sellerId == sellerId).SellerData;
            var style = Model.SellerInformation.FirstOrDefault(ts => ts.sellerId == sellerId).style;
            <div class="col-lg-4 ">
                <div class="row sticky-top">
                    <div class="col-9 pr-0">
                        <div class="card card-body border border-@style bg-@style-100 ">
                            <div class="media">
                                <div class="mr-2">
                                    <img id="logo_@sellerId" src="data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=" class="rounded-circle" width="42" height="42" alt="">
                                </div>

                                <div class="media-body">
                                    <h6 class="mb-1">
                                        @sellerData.FirstOrDefault(d => d.ParameterName == "NombreVendedor").ParameterValue
                                        <span class="badge badge-flat badge-pill border-secondary text-secondary m-0 ml-2 cursor-pointer" data-popup="tooltip" title data-placement="top" data-original-title="Conversión (ventas/visitas)">@sellerData.FirstOrDefault(d => d.ParameterName == "TasaConversion").ParameterValue</span>
                                    </h6>
                                    <span class="text-muted" id="address_@sellerId"></span>
                                </div>

                                <div class="ml-2 align-self-center">
                                    <div class="list-icons">
                                        <div class="dropdown position-static">
                                            <a href="#" class="list-icons-item" data-toggle="dropdown" aria-expanded="false"><i class="icon-menu7"></i></a>
                                            <div class="dropdown-menu dropdown-menu-right" style="">
                                                <a href="#" target="_blank" class="dropdown-item"><i class="icon-list"></i> Ver Publicaciones</a>
                                                <a href="#" target="_blank" class="dropdown-item" id="ecommerceLink_@sellerId"><i class="icon-cart"></i> Ver en ecommerce</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-3 pl-1">
                        <div class="card card-body border border-@style  sticky-top text-center  p-1">
                            <h1 class="font-weight-semibold mb-0">@Model.SellerInformation.FirstOrDefault(ts => ts.sellerId == sellerId).porcentajeVentas%</h1>
                            <div class="font-weight-normal" style="font-size: .80rem">DEL TOTAL DE VENTAS</div>
                        </div>
                    </div>
                </div>
            <div class="card border border-@style ">
                <div class="card-body">
                    <div class="d-flex flex-wrap justify-content-between mb-2">
                        <span class="font-size-xs line-height-xs text-uppercase text-muted font-weight-semibold">PUBLICACION MAS POPULAR</span>
                        <span class="font-size-xs line-height-xs text-uppercase text-success font-weight-bold ">@sellerData.FirstOrDefault(d => d.ParameterName == "PublicacionMayorVentaCantidad")?.ParameterValue VENTAS</span>
                    </div>

                    <h6 class="pt-0">
                        <a id="listing_link_@sellerId" target="_blank" href="#">@sellerData.FirstOrDefault(d => d.ParameterName == "PublicacionMayorVenta")?.ParameterValue</a>
                    </h6>

                    <div class="d-flex flex-wrap mt-1 mb-1">
                        <span class="font-size-xs line-height-xs text-uppercase text-muted font-weight-bold mr-1">PRECIO </span>
                        <span class="font-size-xs line-height-xs text-uppercase text-muted font-weight-normal" id="listing_price_@sellerId"> </span>
                        <span class="font-size-xs line-height-xs text-uppercase text-muted font-weight-bold ml-1 mr-1">|</span>
                        <span class="font-size-xs line-height-xs text-uppercase text-muted font-weight-bold mr-1">ESTADO </span>
                        <span class="font-size-xs line-height-xs text-uppercase text-muted font-weight-normal " id="listing_status_@sellerId"> </span>
                        <span class="font-size-xs line-height-xs text-uppercase text-muted font-weight-bold ml-1 mr-1">|</span>
                        <span class="font-size-xs line-height-xs text-uppercase text-muted font-weight-bold mr-1">CONDICION </span>
                        <span class="font-size-xs line-height-xs text-uppercase text-muted font-weight-normal"> NUEVO</span>
                    </div>

                    <div class="d-flex flex-wrap align-items-center" id="listing_image_@sellerId">
                    </div>

                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="card card-body text-center border border-@style">
                        <h6 class="font-weight-semibold mb-3 mt-2">Tasa de Cancelaciones</h6>
                        <div class="svg-center mb-3" id="cancelationRate_@sellerId"></div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card card-body text-center border border-@style">
                        <h6 class="font-weight-semibold mb-3 mt-2">Tasa de Reclamos</h6>
                        <div class="svg-center mb-3" id="claimsRate_@sellerId"></div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="card card-body border border-@style">
                        <div class="row text-center">
                            <div class="col-3">
                                <p><i class="icon-eye icon-2x d-inline-block text-@style"></i></p>
                                <h5 class="font-weight-semibold mb-0" id="visitas_@sellerId"></h5>
                                <span class="text-muted font-size-base">visitas</span>
                            </div>

                            <div class="col-3">
                                <p><i class="icon-coins icon-2x d-inline-block text-@style"></i></p>
                                <h5 class="font-weight-semibold mb-0" id="ventas_@sellerId"></h5>
                                <span class="text-muted font-size-base">ventas</span>
                            </div>

                            <div class="col-3">
                                <p><i class="icon-list icon-2x d-inline-block text-@style"></i></p>
                                <h5 class="font-weight-semibold mb-0" id="publicaciones_@sellerId"></h5>
                                <span class="text-muted font-size-base">publicaciones</span>
                            </div>

                            <div class="col-3">
                                <p><i class="icon-question7 icon-2x d-inline-block text-@style"></i></p>
                                <h5 class="font-weight-semibold mb-0" id="preguntas_@sellerId"></h5>
                                <span class="text-muted font-size-base">preguntas</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="card card-body text-center border border-@style border-2">
                        <h6 class="font-weight-semibold mb-0 mt-1">Calificaciones</h6>
                        <div class="font-size-lg text-muted mb-1">@sellerData.FirstOrDefault(d => d.ParameterName == "CantidadReviews")?.ParameterValue reviews</div>

                        <div class="svg-center" id="rating_@sellerId"></div>
                    </div>
                    <div class="card card-body text-center border border-@style">
                        <h6 class="font-weight-semibold mb-3 mt-2">Retraso en entregas</h6>
                        <div class="svg-center mb-3" id="delay_@sellerId"></div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="card border border-@style">
                        <div class="card-header bg-transparent p-2">
                            <i class="icon-location4 text-@style mr-2 ml-2" style="font-size:20px"></i>
                            <span class="card-title font-weight-semibold m-1">Top de ventas por ciudad</span>
                        </div>
                        <div class="card-body p-0">
                            <div class="nav nav-sidebar">
                                @for (int i = 1; i < 10; i++)
                                {
                                    var barrio = sellerData.FirstOrDefault(d => d.ParameterName == "ZonaNombre_" + i)?.ParameterValue;
                                    if (!string.IsNullOrEmpty(barrio))
                                    {
                                        var cantidad = sellerData.FirstOrDefault(d => d.ParameterName == "ZonaCantidad_" + i)?.ParameterValue;
                                        <li class="nav-item">
                                            <div class="nav-link font-weight-normal">
                                                <i class="icon-seven-segment-@i text-@style "></i>
                                                @barrio
                                                <span class="font-size-xl font-weight-semibold ml-auto">@cantidad</span>
                                            </div>
                                        </li>
                                    }
                                }

                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-12">
                    <div class="card border border-@style">
                        <div class="card-header bg-transparent p-2">
                            <i class="icon-coins text-success mr-2 ml-2" style="font-size:20px"></i>
                            <span class="card-title font-weight-semibold m-1">Ventas mensuales en el último año</span>
                        </div>
                        <div class="card-body">
                            <div class="chart" id="sales-heatmap_@sellerId"></div>
                        </div>
                    </div>
                </div>
            </div>

            <!--<div class="row">
        <div class="col-lg-12">
            <div class="col-sm-6 col-xl-3">-->
            <!-- Basic bar chart -->
            <!--<div class="card">
            <div class="card-body">
                <div class="d-flex">
                    <h3 class="font-weight-semibold mb-0">3,450</h3>
                    <span class="badge badge-success badge-pill align-self-center ml-auto">+53,6%</span>
                </div>

                <div>
                    Members online
                    <div class="text-muted font-size-sm">489 avg</div>
                </div>
            </div>

            <div class="container-fluid">
                <div id="precio_medio_anual"></div>
            </div>
        </div>-->
            <!-- /basic bar chart -->
            <!--</div>
            </div>
        </div>-->
        </div>
            }
        </div>
</div>
<div id="modal_info_competidores" class="modal fade" tabindex="-1" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <div id="carouselExampleIndicators2" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators2" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators2" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators2" data-slide-to="2"></li>
                        <li data-target="#carouselExampleIndicators2" data-slide-to="3"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="d-block w-100" src="~/global_assets/images/ayuda/competidores-1.png" width="700" height="500" alt="First slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="~/global_assets/images/ayuda/competidores-2.png" width="700" height="500" alt="Second slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="~/global_assets/images/ayuda/competidores-3.png" width="700" height="500" alt="Third slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="~/global_assets/images/ayuda/competidores-4.png" width="700" height="500" alt="Fourth slide">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators2" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators2" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/assets/js/SellerCharts.js"></script>
@section Scripts
    {
    <script type="text/javascript">
        var sellerInformation =  @Html.Raw(JsonConvert.SerializeObject(Model.SellerInformation, Formatting.Indented, new JsonSerializerSettings { ReferenceLoopHandling = ReferenceLoopHandling.Ignore }));


        document.addEventListener('DOMContentLoaded', function () {
            $('#sidebar-toggle').click();
            @foreach (var sellerId in sellerList.Take(3))
            {
                var sellerName = Model.SellerInformation.FirstOrDefault(ts => ts.sellerId == sellerId).SellerData.FirstOrDefault(d => d.ParameterName =="NombreVendedor").ParameterValue;
                <text>ActualizarDatosDeSellers('@sellerName', '@sellerId'); </text>
            }
        });

        function ActualizarDatosDeSellers(sellerName, sellerId) {
            $.getJSON('https://api.mercadolibre.com/sites/MLA/search?nickname=' + sellerName)
                .done(function (json_data) {
                    if (json_data) {
                        if (json_data.seller && json_data.seller.eshop && json_data.seller.eshop.eshop_logo_url) {
                            $('#logo_' + sellerId).attr('src', json_data.seller.eshop.eshop_logo_url);
                        }
                        $('#ecommerceLink_' + sellerId).attr('href', 'https://listado.mercadolibre.com.ar/_CustId_' + sellerId);

                        $.getJSON('https://api.mercadolibre.com/users/' + sellerId)
                            .done(function (sellerInfo) {
                                $("#address_" + sellerId).text(sellerInfo.address.city);
                            });

                        var idPublicacion = sellerInformation.find(d => d.sellerId == sellerId).SellerData.find(d => d.ParameterName == "IdPublicacionMayorVenta")?.ParameterValue;
                        if (idPublicacion) {
                            $.getJSON('https://api.mercadolibre.com/items/' + idPublicacion)
                                .done(function (data) {
                                    $("#listing_price_" + sellerId).text('$' + data.price);
                                    $("#listing_status_" + sellerId).text(data.status);
                                    $("#listing_link_" + sellerId).attr('href', data.permalink);
                                    $("#listing_image_" + sellerId).empty();
                                    var cant = 7;
                                    data.pictures.forEach(function (value, index, array) {
                                        if (cant > 0) {
                                            var href = $('<a />',
                                                {
                                                    id: 'href_' + value.id,
                                                    href: value.url,
                                                    class: 'mr-1',
                                                    target:'_blank'
                                                })
                                                .appendTo($('#listing_image_' + sellerId));

                                            var img = $('<img />',
                                                {
                                                    id: 'img_' + value.id,
                                                    src: value.url,
                                                    class: 'rounded-pill',
                                                    width: 36,
                                                    height: 36
                                                })
                                                .appendTo(href);
                                            cant--;
                                        }
                                    });
                                });
                        }


                    }
                });

            //grafico de rating
            _ratingChart("#rating_" + sellerId, 125, getRatingData(sellerInformation, sellerId));

            //grafico de delay
            var delayRate = (parseFloat(sellerInformation.find(d => d.sellerId == sellerId).SellerData.find(d => d.ParameterName == "DelayedRate")?.ParameterValue) || 0 ) * 100;
            if (delayRate > 0) {
                _progressArcSingle("#delay_" + sellerId, 75, '#45748a', 0, 100, delayRate);
            } else {
                $("#delay_" + sellerId).text('No hay datos para mostrar en este indicador!');
            }


            //Taza de cancelaciones
            var cancelationRate = (parseFloat(sellerInformation.find(d => d.sellerId == sellerId).SellerData.find(d => d.ParameterName == "CancellationRate")?.ParameterValue) || 0) * 100;
            if (cancelationRate > 0) {
                _segmentedGauge("#cancelationRate_" + sellerId, 150, 0, 5, 5, '#d9dcf0', '#3F51B5', cancelationRate / 5);
            } else {
                $("#cancelationRate_" + sellerId).text('No hay datos para mostrar en este indicador!');
            }

            //Taza de reclamos
            var claimsRate = (parseFloat(sellerInformation.find(d => d.sellerId == sellerId).SellerData.find(d => d.ParameterName == "ClaimsRate")?.ParameterValue) || 0) * 100;
            if (claimsRate > 0) {
                _segmentedGauge("#claimsRate_" + sellerId, 150, 0, 10, 4, '#cceae7', '#009688', claimsRate / 10);
            } else {
                $("#claimsRate_" + sellerId).text('No hay datos para mostrar en este indicador!');
            }

            //info estatica de cantidades
            var visitas = (parseInt(sellerInformation.find(d => d.sellerId == sellerId).SellerData.find(d => d.ParameterName == "CantidadVisitas")?.ParameterValue) || 0);
            $('#visitas_' + sellerId).text(visitas.toLocaleString("es-AR"));

            var ventas = (parseInt(sellerInformation.find(d => d.sellerId == sellerId).SellerData.find(d => d.ParameterName == "CantidadVentas")?.ParameterValue) || 0) ;
            $('#ventas_' + sellerId).text(ventas.toLocaleString("es-AR"));

            var publicaciones = (parseInt(sellerInformation.find(d => d.sellerId == sellerId).SellerData.find(d => d.ParameterName == "CantidadPublicaciones")?.ParameterValue) || 0);
            $('#publicaciones_' + sellerId).text(publicaciones.toLocaleString("es-AR"));

            var preguntas = (parseInt(sellerInformation.find(d => d.sellerId == sellerId).SellerData.find(d => d.ParameterName == "CantidadPreguntas")?.ParameterValue) || 0) ;
            $('#preguntas_' + sellerId).text(preguntas.toLocaleString("es-AR"));


            $.post('/Seller/GetSalesMonthSeller', { executionId: @Model.Execution.IdExecution, sellerId: sellerId})
               .done(function (salesMonth) {
                   _heatMapSellers('#sales-heatmap_' + sellerId, salesMonth);
                })
                .fail(function (e) {
                    $.jGrowl(e.responseText, { theme: 'growl-error', header: ' ERROR ', life: 3000 });
                });


            var data = [
                {mes:'05-2020', valor: 50}
            ]
                //_precioMedioAnual("#precio_medio_anual", 12, 50, true, "elastic", 1200, 50, "#EF5350", "members");
        }



        function getRatingData(sellerInformation, sellerId) {
            var neutrales = (parseFloat(sellerInformation.find(d => d.sellerId == sellerId).SellerData.find(d => d.ParameterName == "RatingNeutral")?.ParameterValue) || 0);
            var positivas = (parseFloat(sellerInformation.find(d => d.sellerId == sellerId).SellerData.find(d => d.ParameterName == "RatingPositivo")?.ParameterValue) || 0);
            var negativas = (parseFloat(sellerInformation.find(d => d.sellerId == sellerId).SellerData.find(d => d.ParameterName == "RatingNegativo")?.ParameterValue) || 0);
            return [
                {
                    "status": "Neutrales",
                    "icon": "<i class='icon-dash text-blue mr-2'></i>",
                    "value": neutrales,
                    "color": "#29B6F6"
                }, {
                    "status": "Positivas",
                    "icon": "<i class='icon-checkmark3 text-success mr-2'></i>",
                    "value": positivas,
                    "color": "#66BB6A"
                }, {
                    "status": "Negativas",
                    "icon": "<i class='icon-cross2 text-danger mr-2'></i>",
                    "value": negativas,
                    "color": "#EF5350"
                }
            ];
        }
    </script>
}