@using ecomFront.Models.AnalisisViewModels
@using ecomFront.Common

@{
    ViewData["Title"] = "Home Analisis";
    Layout = "_Layout";
}
@model HomeAnalisisViewModel
<!-- Page header -->
<script src="~/assets/js/jquery.mousewheel.min.js"></script>
<script src="~/assets/js/owl.carousel.min.js"></script>
<link href="~/assets/css/owl.carousel.min.css" rel="stylesheet" type="text/css" />
<link href="~/assets/css/owl.theme.default.min.css" rel="stylesheet" type="text/css" />
<div class="page-header page-header-light">
    <div class="page-header-content header-elements-lg-inline">
        <div class="page-title d-flex">
            <a href="#" class="header-elements-toggle text-body d-lg-none"><i class="icon-more"></i></a>
        </div>
        <div class="header-elements d-none">
            <div class="d-flex  order-2 justify-content-center">
                <a asp-area="" asp-controller="Pricing" asp-action="HomePricing" asp-route-executionId="@Model.Execution.IdExecution" class="btn btn-link btn-float font-size-xs font-weight-semibold text-body" style="width:120px">
                    <i class="icon-coin-dollar icon-2x text-teal"></i>
                    <span>Precios</span>
                </a>
                <a asp-area="" asp-controller="Sales" asp-action="HomeSales" asp-route-executionId="@Model.Execution.IdExecution" class="btn btn-link btn-float font-size-xs font-weight-semibold text-body" style="width:120px">
                    <i class="mi-shopping-cart  mi-2x text-teal"></i>
                    <span>Ventas</span>
                </a>
                <a asp-area="" asp-controller="Trend" asp-action="HomeTrend" asp-route-executionId="@Model.Execution.IdExecution" class="btn btn-link btn-float font-size-xs font-weight-semibold text-body" style="width:120px">
                    <i class="mi-trending-up  mi-2x text-teal"></i>
                    <span>Tendencias</span>
                </a>
                <a asp-area="" asp-controller="Seller" asp-action="HomeSellers" asp-route-executionId="@Model.Execution.IdExecution" class="btn btn-link btn-float font-size-xs font-weight-semibold text-body" style="width:120px">
                    <i class="mi-people-outline  mi-2x text-teal"></i>
                    <span>Competidores</span>
                </a>
                <a asp-area="" asp-controller="Listing" asp-action="ListingList" asp-route-executionId="@Model.Execution.IdExecution" class="btn btn-link btn-float font-size-xs font-weight-semibold text-body" style="width:120px">
                    <i class="icon-coin-dollar icon-2x text-teal"></i>
                    <span>PUBLICACIONES</span>
                </a>
            </div>
        </div>
    </div>
    <div class="breadcrumb-line breadcrumb-line-light header-elements-lg-inline">
        <div class="d-flex">
            <div class="breadcrumb">
                <a asp-area="" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
                <a asp-area="" asp-controller="Search" asp-action="Searches" class="breadcrumb-item"> Busqueda</a>
                <span class="breadcrumb-item active">@Model.Search.Description</span>
            </div>
            <a href="#" class="header-elements-toggle text-body d-lg-none"><i class="icon-more"></i></a>
        </div>
        <div class="header-elements d-none">
            <div class="breadcrumb justify-content-center">
                <a href="#" class="breadcrumb-elements-item">
                    <i class="icon-comment-discussion mr-2"></i>
                    Necesito Ayuda
                </a>
            </div>
        </div>
    </div>
</div>

<!-- /page header -->
<div class="content">


    @{
        var ventas = Model.Indicadores.FirstOrDefault(i => i.TipoIndicador == IndicatorType.Ventas).Valor;
        var preguntas = Model.Indicadores.FirstOrDefault(i => i.TipoIndicador == IndicatorType.Preguntas).Valor;
        var reviews = Model.Indicadores.FirstOrDefault(i => i.TipoIndicador == IndicatorType.Reviews).Valor;
        var visitas = Model.Indicadores.FirstOrDefault(i => i.TipoIndicador == IndicatorType.Visitas).Valor;
        var publicaciones = Model.Indicadores.FirstOrDefault(i => i.TipoIndicador == IndicatorType.Publicaciones).Valor;
    }
    <div class="row">
        <div class="col-sm-12 col-xl-8 ">
            <div class="card card-body border border-secondary">
                <div class="row text-center mb-1">

                    @if (publicaciones > 0)
                    {
                        var ventasXpublicaciones = ventas / publicaciones;
                        var iconVentasXpublicaciones = "";
                        var colorVentasXPublicaciones = "";
                        if (ventasXpublicaciones > 10)
                        {
                            iconVentasXpublicaciones = "mi-sentiment-very-satisfied";
                            colorVentasXPublicaciones = "text-success";
                        }
                        else if (ventasXpublicaciones > 3)
                        {
                            iconVentasXpublicaciones = "mi-sentiment-satisfied";
                            colorVentasXPublicaciones = "text-primary";
                        }
                        else if (ventasXpublicaciones > 1)
                        {
                            iconVentasXpublicaciones = "mi-sentiment-neutral";
                            colorVentasXPublicaciones = "text-warning";
                        }
                        else
                        {
                            iconVentasXpublicaciones = "mi-sentiment-dissatisfied";
                            colorVentasXPublicaciones = "text-danger";
                        }

                        <div class="col-sm col-xl">
                            <p><i class="@iconVentasXpublicaciones mi-3x @colorVentasXPublicaciones "></i></p>
                            <h5 class="font-weight-semibold mb-0"> @String.Format("{0:#,##0.00}", ventasXpublicaciones)</h5>
                            <span class="text-muted font-size-sm">
                                ventas x publicacion <i class="mi-info-outline icon-4x ml-1 text-primary cursor-pointer" data-popup="tooltip" title data-placement="right" data-html="true" data-original-title="Ventas: @ventas <br/> Publicaciones: @publicaciones"></i>
                            </span>
                        </div>



                        var preguntasXpublicaciones = preguntas / publicaciones;
                        var iconpreguntasXpublicaciones = "";
                        var colorpreguntasXpublicaciones = "";
                        if (preguntasXpublicaciones < 10)
                        {
                            iconpreguntasXpublicaciones = "mi-sentiment-satisfied";
                            colorpreguntasXpublicaciones = "text-primary";
                        }
                        else if (preguntasXpublicaciones < 20)
                        {
                            iconpreguntasXpublicaciones = "mi-sentiment-neutral";
                            colorpreguntasXpublicaciones = "text-warning";
                        }
                        else
                        {
                            iconpreguntasXpublicaciones = "mi-sentiment-dissatisfied";
                            colorpreguntasXpublicaciones = "text-danger";
                        }

                        <div class="col-sm col-xl">
                            <p><i class="@iconpreguntasXpublicaciones mi-3x @colorpreguntasXpublicaciones "></i></p>
                            <h5 class="font-weight-semibold mb-0"> @String.Format("{0:#,##0.00}", preguntasXpublicaciones)</h5>
                            <span class="text-muted font-size-sm">
                                preguntas x publicacion <i class="mi-info-outline icon-4x ml-1 text-primary cursor-pointer" data-popup="tooltip" title data-placement="right" data-html="true" data-original-title="Preguntas: @preguntas <br/> Publicaciones: @publicaciones"></i>
                            </span>
                        </div>

                        <div class="col-sm col-xl">
                            <p><i class="icon-eye2  icon-3x text-indigo "></i></p>
                            <h5 class="font-weight-semibold mb-0"> @String.Format("{0:#,##0.00}", visitas / publicaciones)</h5>
                            <span class="text-muted font-size-sm">
                                visitas x publicacion <i class="mi-info-outline icon-4x ml-1 text-primary cursor-pointer" data-popup="tooltip" title data-placement="right" data-html="true" data-original-title="Visitas: @visitas  <br/> Publicaciones: @publicaciones"></i>

                            </span>
                        </div>
                    }

                    @if (ventas > 0)
                    {
                        var visitasXventas = visitas / ventas;
                        var iconvisitasXventas = "";
                        var colorvisitasXventas = "";
                        if (visitasXventas < 500)
                        {
                            iconvisitasXventas = "mi-sentiment-satisfied";
                            colorvisitasXventas = "text-primary";
                        }
                        else if (visitasXventas < 1000)
                        {
                            iconvisitasXventas = "mi-sentiment-neutral";
                            colorvisitasXventas = "text-warning";
                        }
                        else
                        {
                            iconvisitasXventas = "mi-sentiment-dissatisfied";
                            colorvisitasXventas = "text-danger";
                        }

                        <div class="col-sm col-xl">
                            <p> <i class="@iconvisitasXventas mi-3x @colorvisitasXventas"></i></p>
                            <h5 class="font-weight-semibold mb-0">@String.Format("{0:#,##0.00}", visitasXventas)</h5>
                            <span class="text-muted font-size-sm">
                                visitas x ventas <i class="mi-info-outline icon-4x ml-1 text-primary cursor-pointer" data-popup="tooltip" title data-placement="top" data-html="true" data-original-title="Visitas: @visitas  <br/> Ventas: @ventas"></i>
                            </span>
                        </div>

                        var preguntasXventas = preguntas / ventas;
                        var iconpreguntasXventas = "";
                        var colorpreguntasXventas = "";
                        if (preguntasXventas < 5)
                        {
                            iconpreguntasXventas = "mi-sentiment-very-satisfied";
                            colorpreguntasXventas = "text-success";
                        }
                        else if (preguntasXventas < 20)
                        {
                            iconpreguntasXventas = "mi-sentiment-satisfied";
                            colorpreguntasXventas = "text-primary";
                        }
                        else if (preguntasXventas < 50)
                        {
                            iconpreguntasXventas = "mi-sentiment-neutral";
                            colorpreguntasXventas = "text-warning";
                        }
                        else
                        {
                            iconpreguntasXventas = "mi-sentiment-dissatisfied";
                            colorpreguntasXventas = "text-danger";
                        }

                        <div class="col-sm col-xl">
                            <p> <i class="@iconpreguntasXventas mi-3x @colorpreguntasXventas"></i></p>
                            <h5 class="font-weight-semibold mb-0">@String.Format("{0:#,##0.00}", preguntasXventas)</h5>
                            <span class="text-muted font-size-sm">
                                preguntas x ventas <i class="mi-info-outline icon-4x ml-1 text-primary cursor-pointer" data-popup="tooltip" title data-placement="top" data-html="true" data-original-title="Preguntas: @preguntas <br/> Ventas: @ventas"></i>

                            </span>
                        </div>

                        @if (Model.Search.Criteria.Count() > 1)
                        {
                            <div class="col-sm col-xl">
                                <p></p>
                                <h5 class="font-weight-semibold mb-0">CATEGORIAS</h5>
                                <span class="text-muted font-size-sm">
                                    <span class="text-muted">Ver indicadores por categoria  <i class="mi-keyboard-arrow-right mi-2x text-dark"></i></span>
                                </span>
                            </div>
                        }
                    }
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-xl-2">
            <div class="card card-body text-center  border border-secondary">
                <h6 class="font-weight-semibold mb-0 mt-1">FORMAS DE ENVIO</h6>
                <div id="groupingInfoShipping1" class="w-100 mb-1"></div>
                @if (Model.Criteria.Count() > 1)
                {
                    <div>
                        <a asp-area="" asp-controller="Analisis" asp-action="GrouppingCategories" asp-route-executionId="@Model.Execution.IdExecution" asp-route-grouping="@GroupingType.ShippingMethod">Detalle Categorias</a>

                    </div>
                }
            </div>
        </div>
        <div class="col-sm-6 col-xl-2">
            <div class="card card-body text-center  border border-secondary">
                <h6 class="font-weight-semibold mb-0 mt-1">MEDIOS DE PAGO</h6>
                <div id="groupingInfoPaymentMethod1" class="w-100 mb-1"></div>
                @if (Model.Criteria.Count() > 1)
                {
                    <div>
                        <a asp-area="" asp-controller="Analisis" asp-action="GrouppingCategories" asp-route-executionId="@Model.Execution.IdExecution" asp-route-grouping="@GroupingType.PaymentMethod">Detalle Categorias</a>
                    </div>
                }
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-xl-8 p-0">
            <div class="col-sm-12 col-xl-12">
                <div class="card  border border-warning">
                    <div class="card-body ">
                        <div class="media mb-2 pb-2 border-bottom ">
                            <div class="media-body">
                                <h6 class="font-weight-semibold mb-0">PUBLICACIONES MAS RELEVANTES</h6>
                                <span class="opacity-75">seleccioná un filtro</span>
                            </div>
                            <div class="ml-3 align-self-center">
                                <select id="tipoListado" name="tipoListado" onchange="cambiarListing(0);" class="custom-select custom-select-sm wmin-sm-200 mb-3 mb-sm-0">
                                    <option value="1">Indice de visitas x ventas</option>
                                    <option value="2">Indice de preguntas x ventas</option>
                                    <option value="3">Cantidad de ventas</option>
                                    <option value="4">Cantidad de visitas</option>
                                    <option value="5">Cantidad de preguntas</option>
                                    <option value="6">Cantidad de reviews</option>
                                </select>
                            </div>
                            <div class="ml-3 align-self-center">
                                <a asp-area="" asp-controller="Listing" asp-action="ListingList" asp-route-executionId="@Model.Execution.IdExecution" class="btn btn-outline-warning btn-sm"><i class="icon-eye mr-2"></i>Ver todas</a>
                            </div>
                        </div>
                        <div class="table-responsive">
                            <table class="table tableListing text-nowrap">
                            </table>
                        </div>
                        <div id="divTabla"></div>
                    </div>
                </div>
            </div>
            <div class="col-sm-12 col-xl-12">
                <div class="card border border-pink">
                    <div class="card-body">
                        <div class="media mb-2 pb-2 border-bottom ">
                            <div class="media-body">
                                <h6 class="font-weight-semibold mb-0">IMAGENES DE PUBLICACIONES MAS RELEVANTES</h6>
                            </div>
                        </div>
                        <div class="owl-carousel">

                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12">
                <div class="row">
                    <div class="col-sm-12 col-xl-6">
                        <div class="card border border-secondary">
                            <div class="card-body">
                                <div class="media pb-2 border-bottom ">
                                    <div class="media-body">
                                        <h6 class="font-weight-semibold mb-0">MEJORES TENDENCIAS</h6>
                                    </div>
                                    <div class=" align-self-center">
                                        <a asp-area="" asp-controller="Trend" asp-action="HomeTrend" asp-route-executionId="@Model.Execution.IdExecution" class="btn btn-outline-secondary btn-sm"><i class="icon-graph mr-2"></i>Ver detalle</a>
                                    </div>
                                </div>

                                <div class="list-group border-0 rounded-0 p-0">
                                    @{ int j = 0;
                                    }
                                    @foreach (var item in Model.Trends)
                                    {
                                        j = j + 1;
                                        <div class="list-group-item list-group-item-action border-bottom">
                                            <span class="mr-4">
                                                @if (j == 10)
                                                {
                                                    <i class="icon-seven-segment-1 text-secondary "></i>
                                                    <i class="icon-seven-segment-0 text-secondary "></i>
                                                }
                                                else
                                                {
                                                    <i class="icon-seven-segment-@j text-secondary "></i>
                                                }
                                            </span>
                                            <span style="font-size:1.05rem;font-weight:400;">@item.TrendName</span>
                                        </div>
                                    }
                                </div>


                            </div>
                        </div>
                    </div>
                    <div class="col-sm-12 col-xl-6">
                        <div class="card">
                            <div class="card-body border border-pink">
                                <div class="media mb-2 pb-2 border-bottom ">
                                    <div class="media-body">
                                        <h6 class="font-weight-semibold mb-0">PALABRAS CLAVE</h6>
                                    </div>
                                    <div class="ml-3 align-self-center">
                                        <a asp-area="" asp-controller="Trend" asp-action="HomeTrend" asp-route-executionId="@Model.Execution.IdExecution" class="btn btn-outline-pink btn-sm"><i class="icon-wordpress mr-2"></i>Ver detalle</a>
                                    </div>
                                </div>
                                <div class="list-group border-0 rounded-0 p-0">
                                    @{ int i = 0;
                                    }
                                    @foreach (var item in Model.Words)
                                    {
                                        i = i + 1;
                                        <div class="list-group-item list-group-item-action border-bottom">
                                            <span class="mr-4">
                                                @if (i == 10)
                                                {
                                                    <i class="icon-seven-segment-1 text-pink "></i>
                                                    <i class="icon-seven-segment-0 text-pink "></i>
                                                }
                                                else
                                                {
                                                    <i class="icon-seven-segment-@i text-pink "></i>
                                                }
                                            </span>
                                            <span style="font-size:1.05rem;font-weight:400;">@item.Palabra</span>
                                        </div>
                                    }
                                </div>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-xl-4 p-0">
            <div class="col-sm-6 col-xl-12">
                <div class="card  border border-pink">
                    <div class="card-body text-center">
                        <div class="svg-center" id="funnelExecution" style="height:300px;"></div>
                    </div>
                </div>
            </div>

            <div class="col-sm-6 col-xl-12">
                <div class="card border border-secondary">
                    <div class="card-body">
                        <div class="media mb-2 pb-2 border-bottom ">
                            <div class="media-body">
                                <h6 class="font-weight-semibold mb-0">EVENTOS - ANÁLISIS DE VENTAS</h6>
                            </div>
                            <div class=" align-self-center">
                                <a asp-area="" asp-controller="Sales" asp-action="HomeSales" asp-route-executionId="@Model.Execution.IdExecution" class="btn btn-outline-secondary btn-sm"><i class="icon-calendar mr-2"></i>Ver detalle</a>
                            </div>
                        </div>

                        @{ int k = 0;}
                        <ul class="media-list">
                            @foreach (var item in Model.EventsIndicator)
                            {
                                k = k + 1;
                                <li class="media pt-2 pb-2 mb-0 mt-0 border-bottom">
                                    <div class="mr-3 mt-2">
                                        <span>
                                            @if (k == 10)
                                            {
                                                <i class="icon-seven-segment-1 text-secondary ml-0"></i>
                                                <i class="icon-seven-segment-0 text-secondary "></i>
                                            }
                                            else
                                            {
                                                <i class="icon-seven-segment-@k text-secondary "></i>
                                            }
                                        </span>
                                    </div>

                                    <div class="media-body">
                                        <div>
                                            <div>
                                                <span style="font-size:1.05rem;font-weight:400;">@item.name</span>
                                                <span class="badge badge-secondary-100 mr-2" style="float:right">@item.fecha.ToString("dd/MM/yyyy")</span>
                                            </div>
                                            <div class="text-muted font">
                                                <span class="ml-auto" style="font-weight:400;">@String.Format("{0:0}", item.average) ventas promedio por día</span>
                                                @if (item.difference > 0)
                                                {
                                                    <span class="badge badge-success  mr-2" style="float:right;">+@String.Format("{0:0}", item.difference)</span>
                                                }
                                                else
                                                {
                                                    <span class="badge badge-danger  mr-2" style="float: right;"> @String.Format("{0:0}", item.difference)</span>
                                                }
                                            </div>
                                        </div>

                                    </div>
                                </li>
                            }
                        </ul>

                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm col-xl">
            <div class="card">
                <div class="card-header">
                    <h5 class="card-title ">Cantidad de Publicaciones y Ventas por Rango de Precio <i class="icon-info22" data-toggle="tooltip" title="">&nbsp;</i></h5>
                </div>
                <div class="card-body">
                    <div id="singleAxisScatter" style="height:200px;"></div>
                </div>

            </div>
        </div>
    </div>
</div>

<style type="text/css">
    .loaderTable {
        color: #3f51b5;
        font-size: 90px;
        text-indent: -9999em;
        overflow: hidden;
        width: 1em;
        height: 1em;
        border-radius: 50%;
        margin: 50px auto;
        position: center;
        -webkit-transform: translateZ(0);
        -ms-transform: translateZ(0);
        transform: translateZ(0);
        -webkit-animation: load6 1.7s infinite ease, round 1.7s infinite ease;
        animation: load6 1.7s infinite ease, round 1.7s infinite ease;
    }
</style>

<script src="~/global_assets/js/plugins/tables/datatables/datatables.min.js"></script>
@section Scripts
            {
    <script type="text/javascript">
                document.addEventListener('DOMContentLoaded', function () {
                    _showGroupingInfoPaymentMethod();
                    _showGroupingInfoShippingMethod();
                    _showFunnel();
                    _singleAxisScatter();
                    @*
                    @foreach (var item in Model.Listing)
                    {
                         <text>GetImagenesPublicaciones("@item.IdMl");</text>

                    }*@
                    cambiarListing(1);

                    //_progressArcSingle("#arc_single", 78, '#29B6F6', 0, 100, 70);
                });

                var _showGroupingInfoPaymentMethod = function (element, size) {
                    $.post('/Analisis/GetGroupingInfoPaymentMethod', { executionId: @Model.Execution.IdExecution })
                        .done(function (data) {
                            var info = []
                            $.each(data, function (key, value) {
                                var itemInfo = {
                                    status: value.clasification,
                                    value: value.qtty,
                                    color: colores[key]
                                };
                                info.push(itemInfo);
                            })

                            //_donutWithDetails("#groupingInfoPaymentMethod", 146, info);
                            _DashboardDonutChart("groupingInfoPaymentMethod1", 80, info);
                        })
                        .fail(function (e) {
                            $.jGrowl(e.responseText, { theme: 'growl-error', header: ' ERROR ', life: 3000 });
                        });
                }

                var _showGroupingInfoShippingMethod = function (element, size) {
                    $.post('/Analisis/GetGroupingInfoShippingMethod', { executionId: @Model.Execution.IdExecution })
                        .done(function (data) {
                            var info = []
                            $.each(data, function (key, value) {
                                var itemInfo = {
                                    status: value.clasification,
                                    value: value.qtty,
                                    color: colores[key]
                                };
                                info.push(itemInfo);
                            })

                           // _donutWithDetails("#groupingInfoShipping", 146, info);
                            _DashboardDonutChart("groupingInfoShipping1", 80, info);
                        })
                        .fail(function (e) {
                            $.jGrowl(e.responseText, { theme: 'growl-error', header: ' ERROR ', life: 3000 });
                        });
                }

                var _showFunnel = function (element, size) {
                    $.post('/Analisis/GetFunnelData', { executionId: @Model.Execution.IdExecution })
                        .done(function (data) {
                            var dataLegend = [];
                            var dataSeries = [];
                            var valuesInd = {};
                            $.each(data, function (key, value) {
                                dataLegend.push(value.tipoIndicador);
                                var itemInfo = {
                                    value: getValorEmbudo(value.tipoIndicador),
                                    cantidad: value.valor,
                                    name: value.tipoIndicador
                                };
                                dataSeries.push(itemInfo);
                                valuesInd[value.tipoIndicador] = value.valor
                            })

                            _funnelBasicLightExample("funnelExecution", dataSeries, dataLegend, valuesInd);
                        })
                        .fail(function (e) {
                            $.jGrowl(e.responseText, { theme: 'growl-error', header: ' ERROR ', life: 3000 });
                        });
                }

        var _singleAxisScatter = function (element, size) {
                    $.post('/Analisis/GetCantidadPorRango', { executionId: @Model.Execution.IdExecution })
                        .done(function (data) {
                            _SingleAxisScatterChart("singleAxisScatter", JSON.parse(data.dataPublicaciones), JSON.parse(data.dataVentas), data.xList, data.maxValuePublicaciones, data.maxValueVentas);
                        })
                        .fail(function (e) {
                            $.jGrowl(e.responseText, { theme: 'growl-error', header: ' ERROR ', life: 3000 });
                        });
                }

                function getValorEmbudo(tipo) {
                    if (tipo == "VISITAS")
                        return 75;
                    if (tipo == "PREGUNTAS")
                        return 50;
                    if (tipo == "VENTAS")
                        return 25;
                    return 0;
                }

        function cambiarListing(esPrimera) {
            $("#divTabla").addClass('loaderTable');
            if (esPrimera == 0) {
                $('.tableListing').DataTable().destroy(); $('.tableListing').html('');
                $('.owl-carousel').owlCarousel('destroy'); $('.owl-carousel').html('');
            }
            $('.tableListing').html("<thead><tr id='tablaHeaderFila' ><th class= 'text-center'>Titulo</th ><th class='text-center'>Precio </th></tr></thead>")
                    $.post('/Analisis/GetListingData', { executionId: @Model.Execution.IdExecution, listadoType: $("#tipoListado").val() })
                        .done(function (data) {
                            var col = [];
                            var itemInfo = {
                                data: "title",
                                className: "text-center",
                                render: function (data, type, row) {
                                    return '<a href="' + row.permalink + '" target="_blank">' + data + '</a>';
                                }
                            };
                            col.push(itemInfo);
                            var itemInfo = {
                                data: "price",
                                className: "text-center",
                                render: function (data, type, full, meta) {
                                    return '<span class="badge badge-success">$ ' + data.toString().replace(/\B(?=(\d{3})+(?!\d))/g, "."); + '</span>';
                                }
                            };
                            col.push(itemInfo);
                            switch ($("#tipoListado").val()) {
                                case "1":
                                    var itemInfo = {
                                        data: "indexVisitsxVentas",
                                        className: "text-center",
                                    };
                                    col.push(itemInfo);
                                    var itemInfo = {
                                        data: "soldQuantity",
                                        className: "text-center",
                                    };
                                    col.push(itemInfo);
                                    var itemInfo = {
                                        data: "visitsQuantity",
                                        className: "text-center",
                                    };
                                    col.push(itemInfo);
                                    $("#tablaHeaderFila").append("<th>Ventas x Visitas</th><th>Ventas</th><th>Visitas </th>");
                                    break;
                                case "2":
                                    var itemInfo = {
                                        data: "indexQuestionsxVentas",
                                        className: "text-center",
                                    };
                                    col.push(itemInfo);
                                    var itemInfo = {
                                        data: "soldQuantity",
                                        className: "text-center",
                                    };
                                    col.push(itemInfo);
                                    var itemInfo = {
                                        data: "totalQuestions",
                                        className: "text-center",
                                    };
                                    col.push(itemInfo);
                                    $("#tablaHeaderFila").append("<th>Ventas x Preguntas</th><th>Ventas</th><th>Preguntas </th>");
                                    break;
                                case "3":
                                    var itemInfo = {
                                        data: "soldQuantity",
                                        className: "text-center",
                                    };
                                    col.push(itemInfo);
                                    $("#tablaHeaderFila").append("<th>Ventas</th>");
                                    break;
                                case "4":
                                    var itemInfo = {
                                        data: "visitsQuantity",
                                        className: "text-center",
                                    };
                                    col.push(itemInfo);
                                    $("#tablaHeaderFila").append("<th>Visitas</th>");
                                    break;
                                case "5":
                                    var itemInfo = {
                                        data: "totalQuestions",
                                        className: "text-center",
                                    };
                                    col.push(itemInfo);
                                    $("#tablaHeaderFila").append("<th>Preguntas</th>");
                                    break;
                                case "6":
                                    var itemInfo = {
                                        data: "reviewsQuantity",
                                        className: "text-center",
                                    };
                                    col.push(itemInfo);
                                    $("#tablaHeaderFila").append("<th>Reviews</th>");
                                    break;
                            }

                            initializeDataTable(data, col);
                            $.each(data.items, function (key, value) {
                                if (value.pictures.length > 0) {
                                    if (value.pictures.length == 1)
                                        $(".owl-carousel").append("<div><img width=50  height=50 src='" + value.pictures[0].url + "'></img></div>");
                                    else {
                                    for (var i = 0; i <= 1; i++) {
                                        $(".owl-carousel").append("<div><img width=50  height=50 src='" + value.pictures[i].url + "'></img></div>");
                                        }
                                    }
                                }
                            });

                            initializeCarousel(esPrimera);
                        })
                        .fail(function (e) {
                            $.jGrowl(e.responseText, { theme: 'growl-error', header: ' ERROR ', life: 3000 });
                        });
                }

                /*function GetImagenesPublicaciones(idML) {
                    $.getJSON('https://api.mercadolibre.com/items/' + idML)
                        .done(function (json_data) {
                            if (json_data) {
                                if (json_data.pictures) {
                                    for (var i = 0; i <= 1; i++) {
                                        $(".owl-carousel").append("<div><img src='" + json_data.pictures[i].url + "'></img></div>");
                                    }
                                }
                            }
                        });
        }*/

        function initializeCarousel() {
            var owl = $('.owl-carousel');
            owl.owlCarousel({
                loop: true,
                nav: true,
                margin: 5,
                responsive: {
                    0: {
                        items: 1
                    },
                    600: {
                        items: 4
                    },
                    960: {
                        items: 7
                    },
                    1200: {
                        items: 10
                    }
                }
            });
            owl.on('mousewheel', '.owl-stage', function (e) {
                if (e.deltaY > 0) {
                    owl.trigger('next.owl');
                } else {
                    owl.trigger('prev.owl');
                }
                e.preventDefault();
            });
        }

        function initializeDataTable(datos, columnas) {
            $('.tableListing').DataTable({
            autoWidth: true,
                        ordering: false,
                        searching: false, paging: false, info: false,
            dom: '<"top"<"left-col"i><"center-col"p><"right-col"l>>',
            language: {
                search: '_INPUT_',
                loadingRecords: 'Cargando...',
                processing: '',
                zeroRecords: 'No hay registros encontrados'
            },
            pageLength: 10   ,
            initComplete: function () {
                $("#divTabla").removeClass('loaderTable');
            },
            filter: false,
            data: datos.items,
            lengthMenu: [[10, 50, 100, 500], [10, 50, 100, 500]],
                        columns: columnas
        });
        }

    </script>
}
