@using ecomFront.Models.SearchViewModels
@using ecomFront.Common

@{
    ViewData["Title"] = "Criterios";
    Layout = "_Layout";
}
@model CriteriaListViewModel

<!-- Page header -->
<div class="page-header page-header-light">
    <div class="page-header-content header-elements-lg-inline">
        <div class="page-title d-flex">
            <h4><i class="icon-search4 mr-2"></i> <span class="font-weight-semibold">Criterios <i class="icon-arrow-right13"></i> </span> @Model.search.Description</h4>
            <a href="#" class="header-elements-toggle text-body d-lg-none"><i class="icon-more"></i></a>
        </div>
        <div class="header-elements d-none">
            <div class="d-flex justify-content-center">
                <a asp-area="" asp-controller="Search" asp-action="Executions" asp-route-searchId="@Model.search.IdSearch" class="btn btn-link btn-float font-size-sm font-weight-semibold text-body">
                    <i class="icon-cog3 icon-2x text-pink"></i>
                    <span>Ejecuciones</span>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="page-header page-header-light">
    <div class="breadcrumb-line breadcrumb-line-light header-elements-lg-inline">
        <div class="d-flex">
            <div class="breadcrumb">
                <a asp-area="" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
                <a asp-area="" asp-controller="Search" asp-action="Searches" class="breadcrumb-item"> Búsqueda</a>
                <span class="breadcrumb-item active">Criterios</span>
            </div>
            <a href="#" class="header-elements-toggle text-body d-lg-none"><i class="icon-more"></i></a>
        </div>
        <div class="header-elements d-none">
            <div class="breadcrumb justify-content-center">
                <a href="mailto:unlamecom@gmail.com" class="breadcrumb-elements-item">
                    <i class="icon-comment-discussion mr-2"></i>
                    Necesito Ayuda
                </a>
            </div>
        </div>
    </div>
</div>
<!-- /page header -->
<div class="content">

    <!-- Task manager table -->
    <div class="card">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr class="text-center">
                        <th >#</th>
                        <th style="width:30%" class="text-left">Descripción</th>
                        <th style="width:20%" class="text-left">Filtro</th>
                        <th># items</th>
                        <th>Condicion</th>
                        <th>Atributos</th>
                        @*<th class="text-center" style="width: 30px;"><i class="icon-menu-open2"></i></th>*@
                    </tr>
                </thead>
                <tbody>
                    @foreach (var criteriaItem in Model.criteriaItems)
                    {
                        <tr>
                            <td class="text-center"> @criteriaItem.criteria.IdCriteria</td>
                            <td>
                                <div class="font-weight-semibold"><a href="@criteriaItem.criteria.Category.Linkml">@criteriaItem.criteria.Category.Nameml</a></div>
                            </td>
                            <td>@criteriaItem.criteria.SearchCriteria</td>
                            <td class="text-center" >@criteriaItem.criteria.Quantity</td>
                            <td class="text-center">
                                @if (criteriaItem.criteria.ItemCondition == ItemCondition.Nuevo)
                                {
                                    <span class="badge badge-indigo ">NUEVO</span>
                                }
                                else
                                {
                                    <span class="badge badge-light">USADO</span>
                                }
                            </td>
                            <td class="text-center">
                                @if (criteriaItem.criteria.CriteriaAttributes?.Count() > 0)
                                {                                    
                                    var atributosHtml = "";
                                    foreach (var atributo in criteriaItem.criteria.CriteriaAttributes)
                                    {
                                        atributosHtml += "<strong>" + atributo.NameAttributeml + "</strong>: " + atributo.NameAttributeValueml + "<br>";
                                    }
                                    <button type="button" class="btn btn-link" data-popup="popover" title="" data-html="true" data-content="@atributosHtml">Ver Atributos</button>
                                }
                            </td>
                            @*<td class="text-center">
                                <div class="list-icons">
                                    <div class="dropdown">
                                        <a href="#" class="list-icons-item" data-toggle="dropdown">
                                            <i class="icon-menu9"></i>
                                        </a>

                                        <div class="dropdown-menu dropdown-menu-right">
                                            <a href="#" class="dropdown-item"><i class="icon-file-pdf"></i> Export to .pdf</a>
                                            <a href="#" class="dropdown-item"><i class="icon-file-excel"></i> Export to .csv</a>
                                            <a href="#" class="dropdown-item"><i class="icon-file-word"></i> Export to .doc</a>
                                        </div>
                                    </div>
                                </div>
                            </td>*@
                        </tr>
                                    }

                </tbody>
            </table>
        </div>
    </div>
    <!-- /task manager table -->

</div>