@using ecomFront.Models.SearchViewModels
@using ecomFront.Common

@{
    ViewData["Title"] = "Execution";
    Layout = "_Layout";
}
@model ExecutionsListViewModel
<!-- Page header -->
<div class="page-header page-header-light">
    <div class="page-header-content header-elements-lg-inline">
        <div class="page-title d-flex">
            <h4><i class="icon-gear mr-2"></i> <span class="font-weight-semibold">Ejecuciones <i class="icon-arrow-right13"></i> </span> @Model.search.Description</h4>
            <a href="#" class="header-elements-toggle text-body d-lg-none"><i class="icon-more"></i></a>
        </div>
        <div class="header-elements d-none">
            <div class="d-flex justify-content-center">
                <a href="#" onclick="agregarEjecucion(@Model.search.IdSearch);" class="btn btn-link btn-float font-size-sm font-weight-semibold text-body">
                    <i class="icon-cog3 icon-2x text-pink"></i>
                    <span>Nueva Ejecucion</span>
                </a>
            </div>
        </div>
    </div>
</div>

<div class="page-header page-header-light">
    <div class="breadcrumb-line breadcrumb-line-light header-elements-lg-inline">
        <div class="d-flex">
            <div class="breadcrumb">
                <a asp-area="" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
                <a asp-area="" asp-controller="Search" asp-action="Searches" class="breadcrumb-item"> Búsqueda</a>
                <span class="breadcrumb-item active">Ejecuciones</span>
            </div>
            <a href="#" class="header-elements-toggle text-body d-lg-none"><i class="icon-more"></i></a>
        </div>
        <div class="header-elements d-none">
            <div class="breadcrumb justify-content-center">
                <a href="#" class="breadcrumb-elements-item">
                    <i class="icon-comment-discussion mr-2"></i>
                    Necesito Ayuda
                </a>
            </div>
        </div>
    </div>
</div>
<!-- /page header -->
<div class="content">

    <!-- Task manager table -->
    <div class="card">
        <div class="table-responsive">
            <table class="table">
                <thead>
                    <tr class="text-center">
                        <th style="width:5%">#</th>
                        <th>Creado</th>
                        <th>Ejecutado</th>
                        <th style="width:10%">Estado</th>
                        <th style="width:10%">#items</th>
                        <th class="text-center" style="width:20%"><i class="icon-gear"></i></th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var execution in Model.ExecutionsList)
                    {
                        <tr>
                            <td class="text-center"> #@execution.IdExecution</td>
                            <td class="text-center">@execution.DateCreated.ToString("dd MMM HH:mm")</td>
                            <td class="text-center">@execution.DateFinished?.ToString("dd MMM HH:mm")</td>
                            <td>
                                @if (execution.ExecutionStatus == "COMPLETED")
                                {
                                    <span class="badge badge-flat border-success text-success">COMPLETADO</span>
                                }
                                else
                                {
                                    <span class="badge badge-flat border-primary text-primary">@execution.ExecutionStatus</span>
                                }
                            </td>
                            <td class="text-center">
                                @execution.ListingQtty
                            </td>
                            <td class="text-center">
                                <a asp-area="" asp-controller="Analisis" asp-action="HomeAnalisis" asp-route-executionId="@execution.IdExecution" class="btn bg-transparent text-primary border-primary ml-1"><i class="icon-statistics mr-2"></i> Ver Análisis</a>
                            </td>
                        </tr>
                    }

                </tbody>
            </table>
        </div>
    </div>
    <!-- /task manager table -->

</div>
<script src="~/global_assets/js/plugins/notifications/bootbox.min.js"></script>
@section Scripts
    {
    <script type="text/javascript">

        function agregarEjecucion(idSearch) {
            bootbox.confirm({
                title: 'Confirmar Creación de Ejecución',
                message: 'Estás seguro que querés crear una nueva ejecución ',
                buttons: {
                    confirm: {
                        label: 'Aceptar',
                        className: 'btn-danger'
                    },
                    cancel: {
                        label: 'Cancelar',
                        className: 'btn-link'
                    }
                },
                callback: function (result) {
                    if (result) {
                        $.post('/Search/NewExecution', { idSearch: idSearch })
                            .done(function (res) {
                                if (res.result == "OK") {
                                    $.jGrowl(res.successMessage, { theme: 'bg-success text-white', header: 'Excelente!', position: 'bottom-right', life: 2000 });
                                    window.location.reload();
                                } else {
                                    $.jGrowl(res.errorMessage, { theme: 'alert-bordered alert-styled-left alert-danger', position: 'bottom-right', header: 'Ups, ocurrió un error!', life: 5000 });
                                }
                            });
                    }
                }
            });
        }
    </script>
}
