@using ecomFront.Models.SearchViewModels
@using ecomFront.Common

@{
    ViewData["Title"] = "Searches";
    ViewData["MenuOption"] = "Searches";
    Layout = "_Layout";
}

@model SearchesViewModel
<!-- Page header -->
<div class="page-header page-header-light">
    <div class="breadcrumb-line breadcrumb-line-light header-elements-lg-inline">
        <div class="d-flex">
            <div class="breadcrumb">
                <a asp-area="" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
                <span class="breadcrumb-item active">Busquedas</span>
            </div>

            <a href="#" class="header-elements-toggle text-body d-lg-none"><i class="icon-more"></i></a>
        </div>

        <div class="header-elements d-none">
            <div class="breadcrumb justify-content-center">
                <a href="#" class="breadcrumb-elements-item">
                    <i class="icon-comment-discussion mr-2"></i>
                    Necesito Ayuda
                </a>
            </div>
        </div>
    </div>
</div>
<!-- /page header -->
<!-- Content area -->
<div class="content">
    <div class="d-flex align-items-stretch align-items-lg-start flex-column flex-lg-row">
        <div class="flex-1 order-2 order-lg-1">
            <div class="row">
                @foreach (var search in Model.Searches)
                {
                    <div class="col-xl-6 col-lg-12 col-md-12">
                        <div class="card border-left-3 border-left-primary rounded-left-0">
                            <div class="card-body">
                                <div class="d-sm-flex align-item-sm-center flex-sm-nowrap">
                                    <div>
                                        <h6>
                                            <span class="font-weight-semibold mr-2">#@search.IdSearch. @search.Name</span>
                                        </h6>
                                        @if (search.SearchType == "CATEGORY")
                                        {
                                            <p class="mb-3">Categorias: <span class="font-weight-semibold">@search.Criteria.Count()</span> <i class="icon-seven-segment-1 mr-1"></i> Ejecuciones: <span class="font-weight-semibold">@search.Executions.Count()</span> </p>
                                            var listaDeCategoriasConImagen = search.Criteria.Where(c => !string.IsNullOrEmpty(c.Category.Pictureml)).OrderByDescending(c => c.Quantity).Take(10).Select(c => c.Category).ToList();
                                            @foreach (var category in listaDeCategoriasConImagen)
                                            {
                                                <a href="@category.Linkml">
                                                    <img src="@category.Pictureml" class="rounded-circle" width="36" height="36" alt="" data-popup="tooltip" title="" data-original-title="@category.Nameml">
                                                </a>
                                            }
                                            <a asp-area="" asp-controller="Search" asp-action="Criteria" asp-route-searchId="@search.IdSearch" asp- class="text-body">&nbsp;<i class="icon-elipsis"></i></a>
                                        }
                                        else
                                        {

                                            var searchItem = Model.RelatedItems.FirstOrDefault(ri => ri.searchId == search.IdSearch);

                                            @if (searchItem != null)
                                            {
                                                <p class="mb-3">
                                                    Link: <a href="@search.ListingPermalink">
                                                        @searchItem.item.title
                                                    </a>
                                                </p>
                                                //imagenes de la publicacion seleccionada
                                                @foreach (var picture in searchItem.item.pictures.Take(5))
                                                {
                                                    <a href="@picture.url">
                                                        <img src="@picture.secure_url" class="rounded-circle" width="40" height="40">
                                                    </a>
                                                }
                                            }

                                        }

                                    </div>

                                    <ul class="list list-unstyled mb-0 mt-3 mt-sm-0 ml-auto text-sm-right">
                                        <li class="mb-2">
                                            <button type="button" class="btn btn-outline-success btn-sm" onclick="agregarEjecucion(@search.IdSearch);"><i class="icon-play mr-2"></i>Ejecutar</button>
                                        </li>
                                        <li>
                                            @if (search.SearchType == SearchType.Categoria)
                                            {
                                                <span class="badge badge-light badge-striped badge-striped-right border-right-2 border-right-purple">CATEGORIA</span>
                                            }
                                            else
                                            {
                                                <span class="badge badge-light badge-striped badge-striped-right border-right-2 border-right-secondary">PUBLICACION</span>
                                            }

                                        </li>
                                    </ul>
                                </div>
                            </div>

                            <div class="card-footer d-sm-flex justify-content-sm-between align-items-sm-center">
                                @if (search.Executions.Count() > 0)
                                {
                                    var fecha = search.Executions.OrderByDescending(e => e.DateFinished).FirstOrDefault().DateFinished;
                                    var fechaFormateada = fecha != null ? fecha.Value.ToString("dd MMM yyyy") : "";
                                    <span>Última Ejecución: <span class="font-weight-semibold">@fechaFormateada</span><i class="icon-seven-segment-1 mr-1"></i> <a asp-area="" asp-controller="Listing" asp-action="ListingList" asp-route-executionId="@search.Executions.OrderByDescending(e => e.DateFinished).FirstOrDefault().IdExecution">@search.Criteria.Sum(c => c.Quantity) items</a></span>
                                }
                                else
                                {
                                    <span> Aún no tiene ejecuciones realizadas</span>
                                }

                                <ul class="list-inline mb-0 mt-2 mt-sm-0">
                                    <li class="list-inline-item dropright ">
                                        <a href="#" class="text-body dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="icon-menu7"></i></a>
                                        <div class="dropdown-menu dropdown-menu-right" style="">
                                            <a asp-area="" asp-controller="Search" asp-action="Criteria" asp-route-searchId="@search.IdSearch" class="dropdown-item"><i class="icon-search4"></i> Criterios</a>
                                            <a asp-area="" asp-controller="Search" asp-action="Executions" asp-route-searchId="@search.IdSearch" class="dropdown-item"><i class="icon-gear"></i> Ejecuciones</a>
                                            @*<a asp-area="" asp-controller="Search" asp-action="Payments" asp-route-searchId="@search.IdSearch" class="dropdown-item"><i class="icon-cash3"></i> Pagos</a>*@
                                            <div data-popup="tooltip" title="" data-placement="left" data-original-title="Versión DEMO. No tiene pagos asociados">
                                                <a class="dropdown-item disabled"><i class="icon-cash3"></i> Pagos</a>
                                            </div>
                                            <div class="dropdown-divider"></div>
                                            <button id="confirmClone" data-search-id="@search.IdSearch" data-search-name="@search.Name"  class="dropdown-item"><i class="icon-copy"></i> Clonar</button>
                                            <button id="confirmRemove" data-search-id="@search.IdSearch" data-search-name="@search.Name" class="dropdown-item"><i class="icon-cross2"></i> Eliminar</button>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    <script src="~/global_assets/js/plugins/notifications/bootbox.min.js"></script>
    @section Scripts
    {
            <script type="text/javascript">
                var selectedSearch;
                // Confirmation dialog
                $(document).on('click', '#confirmRemove', function () {
                    selectedSearch = $(this).attr('data-search-id');
                    bootbox.confirm({
                        title: 'Confirmar Eliminación de Búsqueda',
                        message: 'Estás seguro que querés eliminar la búsqueda ' + $(this).attr('data-search-name'),
                        buttons: {
                            confirm: {
                                label: 'Si, quiero eliminarla',
                                className: 'btn-danger'
                            },
                            cancel: {
                                label: 'Cancelar',
                                className: 'btn-link'
                            }
                        },
                        callback: function (result) {
                            if (result) {
                                $.post('/Search/DeleteSearchById', { idSearch: selectedSearch })
                                .done(function (res) {
                                    if (res.result == "OK") {
                                        $.jGrowl(res.successMessage, { theme: 'bg-success text-white', header: 'Excelente!', position: 'bottom-right', life: 2000 });
                                        window.location.href = '@Url.Action("Searches", "Search")';
                                    } else {
                                        $.jGrowl(res.errorMessage, { theme: 'alert-bordered alert-styled-left alert-danger', position: 'bottom-right', header: 'Ups, ocurrió un error!', life: 5000 });
                                    }
                                });
                            }
                        }
                    });
                });

                function agregarEjecucion(idSearch) {
                   bootbox.confirm({
                        title: 'Confirmar Creación de Ejecución',
                       message: 'Estás seguro que querés crear una nueva ejecución ',
                        buttons: {
                            confirm: {
                                label: 'Aceptar',
                                className: 'btn-danger'
                            },
                            cancel: {
                                label: 'Cancelar',
                                className: 'btn-link'
                            }
                        },
                        callback: function (result) {
                            if (result) {
                                $.post('/Search/NewExecution', { idSearch: idSearch })
                                .done(function (res) {
                                    if (res.result == "OK") {
                                        $.jGrowl(res.successMessage, { theme: 'bg-success text-white', header: 'Excelente!', position: 'bottom-right', life: 2000 });
                                        window.location.reload();
                                    } else {
                                        $.jGrowl(res.errorMessage, { theme: 'alert-bordered alert-styled-left alert-danger', position: 'bottom-right', header: 'Ups, ocurrió un error!', life: 5000 });
                                    }
                                });
                            }
                        }
                    });
                }

                $(document).on('click', '#confirmClone', function () {
                    selectedSearch = $(this).attr('data-search-id');
                    bootbox.confirm({
                        title: 'Confirmar Copia de búsqueda',
                        message: 'Estás seguro de clonar la búsqueda ' + $(this).attr('data-search-name'),
                        buttons: {
                            confirm: {
                                label: 'Si, quiero copiarla',
                                className: 'btn-success'
                            },
                            cancel: {
                                label: 'Cancelar',
                                className: 'btn-link'
                            }
                        },
                        callback: function (result) {
                            if (result) {
                                $.post('/Search/CloneSearch', { idSearch: selectedSearch })
                                .done(function (res) {
                                    if (res.result == "OK") {
                                        $.jGrowl(res.successMessage, { theme: 'bg-success text-white', header: 'Excelente!', position: 'bottom-right', life: 2000 });
                                        window.location.href = '@Url.Action("Searches", "Search")';
                                    } else {
                                        $.jGrowl(res.errorMessage, { theme: 'alert-bordered alert-styled-left alert-danger', position: 'bottom-right', header: 'Ups, ocurrió un error!', life: 5000 });
                                    }
                                });
                            }
                        }
                    });
                });
            </script>
        }
