@using ecomFront.Models.TrendViewModels
@using ecomFront.Common

@{
    ViewData["Title"] = "Home Tendencias";
    Layout = "_Layout";
}
@model HomeTrendViewModel
<!-- Page header -->
<div class="page-header page-header-light">
    <div class="page-header-content header-elements-lg-inline">
        <div class="page-title d-flex">
            <a href="#" class="header-elements-toggle text-body d-lg-none"><i class="icon-more"></i></a>
        </div>
        <div class="header-elements d-none">
            <div class="d-flex  order-2 justify-content-center">
                <a asp-area="" asp-controller="Pricing" asp-action="HomePricing" asp-route-executionId="@Model.Execution.IdExecution" class="btn btn-link btn-float font-size-xs font-weight-semibold text-body" style="width:120px">
                    <i class="icon-coin-dollar icon-2x text-teal"></i>
                    <span>Precios</span>
                </a>
                <a asp-area="" asp-controller="Sales" asp-action="HomeSales" asp-route-executionId="@Model.Execution.IdExecution" class="btn btn-link btn-float font-size-xs font-weight-semibold text-body" style="width:120px">
                    <i class="mi-shopping-cart  mi-2x text-teal"></i>
                    <span>Ventas</span>
                </a>
                <a asp-area="" asp-controller="Trend" asp-action="HomeTrend" asp-route-executionId="@Model.Execution.IdExecution" class="btn btn-link btn-float font-size-xs font-weight-semibold text-body" style="width:120px">
                    <i class="mi-trending-up  mi-2x text-teal"></i>
                    <span>Tendencias</span>
                </a>
                <a asp-area="" asp-controller="Seller" asp-action="HomeSellers" asp-route-executionId="@Model.Execution.IdExecution" class="btn btn-link btn-float font-size-xs font-weight-semibold text-body" style="width:120px">
                    <i class="mi-people-outline  mi-2x text-teal"></i>
                    <span>Competidores</span>
                </a>
                <a asp-area="" asp-controller="Listing" asp-action="ListingList" asp-route-executionId="@Model.Execution.IdExecution" class="btn btn-link btn-float font-size-xs font-weight-semibold text-body" style="width:120px">
                    <i class="icon-coin-dollar icon-2x text-teal"></i>
                    <span>PUBLICACIONES</span>
                </a>
            </div>
        </div>
    </div>
    <div class="breadcrumb-line breadcrumb-line-light header-elements-lg-inline">
        <div class="d-flex">
            <div class="breadcrumb">
                <a asp-area="" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
                <a asp-area="" asp-controller="Search" asp-action="Searches" class="breadcrumb-item"> Busqueda</a>
                <a asp-area="" asp-controller="Analisis" asp-action="HomeAnalisis" asp-route-executionId="@Model.Execution.IdExecution" class="breadcrumb-item"> @Model.Search.Description</a>
                <span class="breadcrumb-item active">Tendencias / Oportunidades</span>
            </div>
            <a href="#" class="header-elements-toggle text-body d-lg-none"><i class="icon-more"></i></a>
        </div>
        <div class="header-elements d-none">
            <div class="breadcrumb justify-content-center">
                <a href="#" class="breadcrumb-elements-item">
                    <i class="icon-comment-discussion mr-2"></i>
                    Necesito Ayuda
                </a>
            </div>
        </div>
    </div>
</div>
<!-- /page header -->
<div class="content">
    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <div class="card  border border-secondary">
                        <div class="card-header bg-transparent header-elements-inline p-2">
                            <h5 class="font-weight-normal mb-0">NUBE DE PALABRAS POR PUBLICACION</h5>
                            <div class="header-elements">
                                <div class="list-icons">
                                    <button data-toggle="modal" data-target="#modal_info_nube_publicacion" class="btn btn-outline-secondary btn-icon border-2 rounded-pill">
                                        <i class="fas fa-info  "></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="card-body ">
                            <div class="" id="wordCloud" style="width:100%;height:500px;">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <div class="card  border border-secondary">
                        <div class="card-header bg-transparent header-elements-inline p-2">
                            <h5 class="font-weight-normal mb-0">NUBE DE PALABRAS POR VENTAS</h5>
                            <div class="header-elements">
                                <div class="list-icons">
                                    <button data-toggle="modal" data-target="#modal_info_nube_ventas" class="btn btn-outline-secondary btn-icon border-2 rounded-pill">
                                        <i class="fas fa-info  "></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="card-body ">
                            <div class="" id="wordCloud2" style="width:100%;height:500px;">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
         </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="card  border border-secondary">
                        <div class="card-header bg-transparent header-elements-inline p-2">
                            <h5 class="font-weight-normal mb-0">NUBE DE PALABRAS POR OPORTUNIDAD</h5>
                            <div class="header-elements">
                                <div class="list-icons">
                                    <button data-toggle="modal" data-target="#modal_info_nube_oportunidad" class="btn btn-outline-secondary btn-icon border-2 rounded-pill">
                                        <i class="fas fa-info  "></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="card-body ">
                            <div class="" id="wordCloud3" style="width:100%;height:500px;">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <div class="card  border border-secondary">
                        <div class="card-header bg-transparent header-elements-inline p-2">
                            <h5 class="font-weight-normal mb-0">ÁRBOL DE TENDENCIAS</h5>
                            <div class="header-elements">
                                <div class="list-icons">
                                    <button data-toggle="modal" data-target="#modal_info_arbol_tendencias" class="btn btn-outline-secondary btn-icon border-2 rounded-pill">
                                        <i class="fas fa-info  "></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="card-body ">
                            <div class="" id="trendTreemap" style="width:100%;height:500px;">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="row">
                <div class="col-md-12">
                    <div class="card  border border-secondary">
                        <div class="card-header bg-transparent header-elements-inline p-2">
                            <h5 class="font-weight-normal mb-0">OPORTUNIDADES</h5>
                            <div class="header-elements">
                                <div class="list-icons">
                                    <button data-toggle="modal" data-target="#modal_info_barras_oportunidad" class="btn btn-outline-secondary btn-icon border-2 rounded-pill">
                                        <i class="fas fa-info  "></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                        <div class="card-body ">
                            <div class="" id="barChartOportunity" style="width:100%;height:500px;">

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="modal_info_nube_publicacion" class="modal fade" tabindex="-1" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="d-block w-100" src="~/global_assets/images/historialdeventas.png" alt="First slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="~/global_assets/images/historialdeventas.png" alt="Second slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="~/global_assets/images/historialdeventas.png" alt="Third slide">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="modal_info_nube_ventas" class="modal fade" tabindex="-1" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="d-block w-100" src="~/global_assets/images/historialdeventas.png" alt="First slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="~/global_assets/images/historialdeventas.png" alt="Second slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="~/global_assets/images/historialdeventas.png" alt="Third slide">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="modal_info_nube_oportunidad" class="modal fade" tabindex="-1" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="d-block w-100" src="~/global_assets/images/historialdeventas.png" alt="First slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="~/global_assets/images/historialdeventas.png" alt="Second slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="~/global_assets/images/historialdeventas.png" alt="Third slide">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="modal_info_arbol_tendencias" class="modal fade" tabindex="-1" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="d-block w-100" src="~/global_assets/images/historialdeventas.png" alt="First slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="~/global_assets/images/historialdeventas.png" alt="Second slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="~/global_assets/images/historialdeventas.png" alt="Third slide">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="modal_info_barras_oportunidad" class="modal fade" tabindex="-1" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="d-block w-100" src="~/global_assets/images/historialdeventas.png" alt="First slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="~/global_assets/images/historialdeventas.png" alt="Second slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="~/global_assets/images/historialdeventas.png" alt="Third slide">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="~/assets/js/jqcloud.min.js"></script>
<link href="~/assets/css/jqcloud.min.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="~/assets/js/TrendCharts.js"></script>
@section Scripts
    {
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function () {
            google.charts.load('current', { 'packages': ['treemap'] });
            google.setOnLoadCallback(showTreemap);
            $('#sidebar-toggle').click();
            showCloud(1);
            showCloud(2);
            showCloud(3);
            showBarChartOportunity();
            $('[data-toggle="tooltip"]').tooltip();
        });

        function showCloud(tip) {
            var data = [];
           $.post('/Trend/GetWordCloud', { executionId: @Model.Execution.IdExecution, tipo: tip })
                .done(function (wordCloud) {

                    wordCloud.items.forEach(function (valor, indice, array) {
                        var title = "";
                        switch (tip) {
                            case 1:
                                title = "Cantidad de Publicaciones: " + valor.weight;
                                valor.html = { "title": title, "data-toggle": "tooltip"};
                                break;
                            case 2:
                                title = "Cantidad de Ventas: " + valor.weight;
                                valor.html = { "title": title, "data-toggle": "tooltip" };
                                break;
                            case 3:
                                title = "Indicador de oportunidad: " + valor.weight;
                                valor.html = { "title": title, "data-toggle": "tooltip" };
                                break;
                            default:
                                break;
                        }
                        data.push(valor);
                    });
                    initCloud(data, tip);
                })
                .fail(function (e) {
                    $.jGrowl(e.responseText, { theme: 'growl-error', header: ' ERROR ', life: 3000 });
                });



        }

        function showTreemap() {
            var data = [];
            var header = [];
            debugger;
           $.post('/Trend/GetTrendTreemap', { executionId: @Model.Execution.IdExecution})
               .done(function (trendTreemap) {
                   header = ["Tendencias", "Padres", "IndiceSize", "IndiceColor", "CantidadVentas", "CantidadPublicaciones", "PosicionTendencia", "VentasxPublicacion"]
                    data.push(header);
                   header = ["Árbol Tendencias",null,0,0,null,null,null,null];
                    data.push(header);
                    trendTreemap.items.forEach(function (valor, indice, array) {
                        var fila = []
                        fila = [array[indice].trend, array[indice].parent, array[indice].size, array[indice].color, array[indice].cantidadVentas,array[indice].cantidadPublicaciones, array[indice].posicionTendencia, array[indice].ventasPorPublicacion];
                        data.push(fila);
                    });
                    initTreemap(data);
                })
                .fail(function (e) {
                    $.jGrowl(e.responseText, { theme: 'growl-error', header: ' ERROR ', life: 3000 });
                });
        }

        function showBarChartOportunity() {
            var data = [];
            var header = [];
            debugger;
            $.post('/Trend/GetBarChartOportunity', { executionId: @Model.Execution.IdExecution})
               .done(function (barChart) {
                   header = ['score', 'cantidad', 'palabra','tendencia']
                    data.push(header);
                   barChart.data.forEach(function (valor, indice, array) {
                        var fila = []
                        fila = [array[indice].indice, array[indice].cantidadApariciones, array[indice].palabra, array[indice].mejorTendencia];
                        data.push(fila);
                   });
                   _barChartOportunity('barChartOportunity', data, barChart.minValue,barChart.maxValue);
                })
                .fail(function (e) {
                    $.jGrowl(e.responseText, { theme: 'growl-error', header: ' ERROR ', life: 3000 });
                });
            }

    </script>
}