@using ecomFront.Models.DashboardViewModel


@{
    ViewData["Title"] = "Home Page";
    Layout = "_Layout";
}
@model MainDashboardViewModel
<!-- Page header -->

<div class="page-header page-header-light">
    <div class="breadcrumb-line breadcrumb-line-light header-elements-lg-inline">
        <div class="d-flex">
            <div class="breadcrumb">
                <a asp-area="" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
            </div>

            <a href="#" class="header-elements-toggle text-body d-lg-none"><i class="icon-more"></i></a>
        </div>

        <div class="header-elements d-none">
            <div class="breadcrumb justify-content-center">
                <a href="#" class="breadcrumb-elements-item">
                    <i class="icon-comment-discussion mr-2"></i>
                    Necesito Ayuda
                </a>
            </div>
        </div>
    </div>
</div>
<!-- /page header -->

<div class="content">

    @{ 
        var color = new string[] {"indigo", "info", "yellow", "dark",  "purple", "secondary" , "primary", "teal"};
        int colorIndex = 0;
    }
    @foreach (var item in Model.Items)
    {
        var style = color[colorIndex];
        <div class="mb-5">
            <div class="row">
                <div class="col-sm-12 col-xl-12">
                    <div class="card border-top-2 border-bottom-2 border-top-@style border-bottom-@style rounded-0 bg-@style-100">
                        <div class="page-header-content header-elements-lg-inline">
                            <div class="page-title d-flex breadcrumb pt-0 col-4">
                                <h4>@item.Search.Name</h4>
                            </div>
                            <div class="border-left border-@style border-left-top align-items-center p-1 text-center w-25">
                                <h2 class="font-weight-semibold m-0" id="CantAtributos">@item.Search.Executions.Count</h2>
                                <span class="font-weight-normal">EJECUCIONES</span>
                            </div>
                            <div class="border-left border-@style border-left-top align-items-center p-1 text-center w-25">
                                <h2 class="font-weight-semibold m-0" id="CantAtributos">@item.CantidadPublicaciones</h2>
                                <span class="font-weight-normal">PUBLICACIONES</span>
                            </div>
                            <div class="border-left border-@style border-left-top align-items-center p-1 text-center w-25">
                                <h2 class="font-weight-semibold m-0" id="CantAtributos">@item.CantidadVentas</h2>
                                <span class="font-weight-normal">VENTAS</span>
                            </div>
                            <div class="border-left border-@style border-left-top align-items-center p-1 text-center w-25">
                                <h2 class="font-weight-semibold m-0" id="CantAtributos">@item.CantidadCompetidores</h2>
                                <span class="font-weight-li">COMPETIDORES</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-sm-6 col-xl-4">
                    <div class="card card-body @item.TemperaturaCategoriaClase text-white">
                        <div class="media mb-3">
                            <div class="media-body">
                                <h6 class="font-weight-semibold mb-0">SHARE DE VENTAS</h6>
                                <span class="opacity-75">competidores platino</span>
                            </div>

                            <div class="ml-3 align-self-center">
                                <i class="icon-pulse2 icon-2x"></i>
                            </div>
                        </div>

                        <div class="progress @item.TemperaturaCategoriaClase mb-2" style="height:20px;border:solid 1px #eee">
                            <div class="progress-bar bg-white" style="width: @item.TemperaturaCategoriaPorcentaje%">
                                <span class="sr-only">@item.TemperaturaCategoriaPorcentaje% Complete</span>
                            </div>
                        </div>

                        <div class="font-size-lg">
                            <span class="float-right font-weight-semibold">@item.TemperaturaCategoriaPorcentaje %</span>
                            @item.TemperaturaCategoriaLeyenda
                        </div>

                        <div class="media border-top mt-3 pt-3">

                            <div class="mr-2 align-self-center">
                                <i class="icon-info22 icon-2x"></i>
                            </div>
                            <div class="media-body text-left">
                                @if (@item.TemperaturaCategoriaClase == "bg-success")
                                {
                                    <span class="font-weight-light">Es una gran oportunidad para ganar mercado ya que solo el @item.TemperaturaCategoriaPorcentaje % de las ventas están tomadas por vendedores Platino </span>
                                }
                                else if (@item.TemperaturaCategoriaClase == "bg-danger")
                                {
                                    <span class="font-weight-light">Las ventas estan tomadas por vendedores Platino y queda poco margen de mercado por el cuál trabajar. </span>
                                }
                                else if (@item.TemperaturaCategoriaClase == "bg-yellow")
                                {
                                    <span class="font-weight-light">Las ventas estan equilibradas, con una buena estrategia de marketing y planificacion se puede alcanzar el objetivo. </span>
                                }
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-xl-3">
                    <div class="card card-body text-center border border-@style ">
                        <h6 class="font-weight-semibold mb-0 mt-1">COMPETIDORES</h6>
                        <div class="font-size-sm mb-2">cantidad por tipo</div>
                        <div class="svg-center " id="donutSellers_@item.Search.IdSearch"></div>
                    </div>
                </div>
                <div class="col-sm-12 col-xl-5" id="avgGraph_@item.Search.IdSearch">
                    <div class="card card-body text-center border border-@style ">
                        <h6 class="font-weight-semibold mb-0 mt-1">RELACIÓN PRECIO MEDIO</h6>
                        <div class="svg-center" style="height:200px;" id="avgPrice_@item.Search.IdSearch"></div>
                    </div>
                </div>

                <div class="col-sm-6 col-xl-4" id="priceInfo_@item.Search.IdSearch" style="display: none;">
                    <div class="card card-body border border-@style ">
                        <div class="media">
                            <div class="mr-3 align-self-center">
                                <i class="icon-price-tags icon-3x text-@style-100"></i>
                            </div>

                            <div class="media-body text-right">
                                <h3 class="font-weight-semibold mb-0" id="listingAvgPrice_@item.Search.IdSearch"></h3>
                                <span class="text-uppercase font-size-sm text-muted">PRECIO MEDIO DE PUBLICACIÓN</span>
                            </div>
                        </div>
                    </div>
                    <div class="card card-body border border-@style ">
                        <div class="media">
                            <div class="mr-3 align-self-center">
                                <i class="icon-cart2 icon-3x text-@style-100"></i>
                            </div>

                            <div class="media-body text-right">
                                <h3 class="font-weight-semibold mb-0" id="soldAvgPrice_@item.Search.IdSearch"></h3>
                                <span class="text-uppercase font-size-sm text-muted">PRECIO MEDIO DE VENTA</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>


        if (colorIndex == 7)
            colorIndex = 0;
        else
            colorIndex++;
    }
    </div>

<script src="~/assets/js/Home.js"></script>
<script type="text/javascript">
    document.addEventListener('DOMContentLoaded', function () {
         @foreach (var item in Model.Items)
          {
             <text>
            _pieDonutSellers(@item.Search.IdSearch);
            _avgPriceLine(@item.Search.IdSearch);
             </text>
          }

    });

    function _pieDonutSellers(id) {
        $.post('/Home/GetSellersType', { searchId: id})
               .done(function (data) {
                   var info = []
                   $.each(data, function (key, value) {
                       var itemInfo = {
                           text: value.parameterName,
                           value: value.parameterValue,
                           color: colores[key]
                       };
                       info.push(itemInfo);
                   })
                   _homeCompetidores('donutSellers_' + id, info);
                })
                .fail(function (e) {
                    $.jGrowl(e.responseText, { theme: 'growl-error', header: ' ERROR ', life: 3000 });
                });
    }
    

    function _avgPriceLine(id) {
        $.post('/Home/GetAvgPriceLine', { searchId: id })
            .done(function (data) {
                var info = [];
                if (data.xList.length == 1) {
                    $("#avgGraph_" + id).hide();
                    $("#priceInfo_" + id).show();
                   // $("#listingAvgPrice_" + id).text('$ ' + parseFloat(data.dataSeries[0].yList[0]).toFixed(2).toString().replace(/\B(?=(\d{3})+(?!\d))/g, "."));
                   // $("#soldAvgPrice_" + id).text('$ ' + parseFloat(data.dataSeries[1].yList[0]).toFixed(2).toString().replace(/\B(?=(\d{3})+(?!\d))/g, "."));
                    $("#listingAvgPrice_" + id).text('$ ' + parseFloat(data.dataSeries[0].yList[0]).toLocaleString("es-AR"));
                    $("#soldAvgPrice_" + id).text('$ ' + parseFloat(data.dataSeries[1].yList[0]).toLocaleString("es-AR"));
                } else {
                    $("#avgGraph_" + id).show();
                    $("#priceInfo_" + id).hide();
                    $.each(data.dataSeries, function (key, value) {
                        var itemInfo = {
                            name: value.legend,
                            type: 'line',
                            smooth: true,
                            symbolSize: 7,
                            data: value.yList,
                            itemStyle: {
                                normal: {
                                    borderWidth: 2
                                }
                            }
                        };
                        info.push(itemInfo);
                    })
                        _linesStacked('avgPrice_' + id, data.xList, data.dataLegend, info);
                }
            })
            .fail(function (e) {
                $.jGrowl(e.responseText, { theme: 'growl-error', header: ' ERROR ', life: 3000 });
            });
    }

</script>
