@using ecomFront.Models.SalesViewModels
@using ecomFront.Common

@{
    ViewData["Title"] = "Ventas";
    Layout = "_Layout";
}
@model HomeSalesViewModel
<!-- Page header -->
<div class="page-header page-header-light">
    <div class="page-header-content header-elements-lg-inline">
        <div class="page-title d-flex">
            <a href="#" class="header-elements-toggle text-body d-lg-none"><i class="icon-more"></i></a>
        </div>
        <div class="header-elements d-none">
            <div class="d-flex  order-2 justify-content-center">
                <a asp-area="" asp-controller="Pricing" asp-action="HomePricing" asp-route-executionId="@Model.Execution.IdExecution" class="btn btn-link btn-float font-size-xs font-weight-semibold text-body" style="width:120px">
                    <i class="icon-coin-dollar icon-2x text-teal"></i>
                    <span>Precios</span>
                </a>
                <a asp-area="" asp-controller="Sales" asp-action="HomeSales" asp-route-executionId="@Model.Execution.IdExecution" class="btn btn-link btn-float font-size-xs font-weight-semibold text-body" style="width:120px">
                    <i class="mi-shopping-cart  mi-2x text-teal"></i>
                    <span>Ventas</span>
                </a>
                <a asp-area="" asp-controller="Trend" asp-action="HomeTrend" asp-route-executionId="@Model.Execution.IdExecution" class="btn btn-link btn-float font-size-xs font-weight-semibold text-body" style="width:120px">
                    <i class="mi-trending-up  mi-2x text-teal"></i>
                    <span>Tendencias</span>
                </a>
                <a asp-area="" asp-controller="Seller" asp-action="HomeSellers" asp-route-executionId="@Model.Execution.IdExecution" class="btn btn-link btn-float font-size-xs font-weight-semibold text-body" style="width:120px">
                    <i class="mi-people-outline  mi-2x text-teal"></i>
                    <span>Competidores</span>
                </a>
                <a asp-area="" asp-controller="Listing" asp-action="ListingList" asp-route-executionId="@Model.Execution.IdExecution" class="btn btn-link btn-float font-size-xs font-weight-semibold text-body" style="width:120px">
                    <i class="icon-coin-dollar icon-2x text-teal"></i>
                    <span>PUBLICACIONES</span>
                </a>
            </div>
        </div>
    </div>
    <div class="breadcrumb-line breadcrumb-line-light header-elements-lg-inline">
        <div class="d-flex">
            <div class="breadcrumb">
                <a asp-area="" asp-controller="Home" asp-action="Index" class="breadcrumb-item"><i class="icon-home2 mr-2"></i> Home</a>
                <a asp-area="" asp-controller="Search" asp-action="Searches" class="breadcrumb-item"> Busqueda</a>
                <a asp-area="" asp-controller="Analisis" asp-action="HomeAnalisis" asp-route-executionId="@Model.Execution.IdExecution" class="breadcrumb-item"> @Model.Search.Description</a>
                <span class="breadcrumb-item active">Analisis de Ventas</span>
            </div>
            <a href="#" class="header-elements-toggle text-body d-lg-none"><i class="icon-more"></i></a>
        </div>
        <div class="header-elements d-none">
            <div class="breadcrumb justify-content-center">
                <a href="#" class="breadcrumb-elements-item">
                    <i class="icon-comment-discussion mr-2"></i>
                    Necesito Ayuda
                </a>
            </div>
        </div>
    </div>
</div>
<!-- /page header -->
<div class="content">
    <div class="row">
        <div class="col-sm-12 col-lg-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="card  border border-secondary">
                        <div class="card-header bg-transparent header-elements-inline p-2">
                            <h5 class="font-weight-normal mb-0">CANTIDAD DE VENTAS HISTÓRICAS</h5>
                            <div class="header-elements">
                                <div class="list-icons">
                                    <button data-toggle="modal" data-target="#modal_info_heatmap" class="btn btn-outline-secondary btn-icon border-2 rounded-pill">
                                        <i class="fas fa-info  "></i>
                                    </button>

                                </div>
                            </div>
                        </div>
                        <div class="card-body" id="calendarSoldQtty">
                            <div class="chart-container">
                                <div class="chart" id="calendar_single" style="height: 300px; -webkit-tap-highlight-color: transparent; user-select: none; position: relative;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-lg-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="card  border border-secondary">
                        <div class="card-header bg-transparent header-elements-inline p-2">
                            <h5 class="font-weight-normal mb-0">CANTIDAD DE VENTAS Y EVENTOS</h5>
                            <div class="header-elements">
                                <div class="list-icons">
                                    <button data-toggle="modal" data-target="#modal_info_eventos" class="btn btn-outline-secondary btn-icon border-2 rounded-pill">
                                        <i class="fas fa-info  "></i>
                                    </button>

                                </div>
                            </div>
                        </div>
                        <div class="card-body" id="SoldQttyAndEvents">
                            <div class="chart-container">
                                <div class="chart has-fixed-height" id="line_zoom" _echarts_instance_="ec_1631658474244" style="-webkit-tap-highlight-color: transparent; user-select: none; position: relative;">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12 col-lg-12">
            <div class="row">
                <div class="col-md-12">
                    <div class="card  border border-secondary">
                        <div class="card-header bg-transparent header-elements-inline p-2">
                            <h5 class="font-weight-normal mb-0">MAPA DE VENDEDORES - COMPRADORES </h5>
                            <div class="header-elements">
                                <div class="list-icons">
                                    <button data-toggle="modal" data-target="#modal_info_mapa" class="btn btn-outline-secondary btn-icon border-2 rounded-pill">
                                        <i class="fas fa-info  "></i>
                                    </button>

                                </div>
                            </div>
                        </div>
                        <div class="card-body">
                            <div class="custom-control custom-switch custom-switch-square custom-control-vendedor mb-2">
                                <input type="checkbox" class="custom-control-input" id="sc_s_vendedores" checked="">
                                <label class="custom-control-label" for="sc_s_vendedores">Vendedores</label>
                            </div>
                            <div class="custom-control custom-switch custom-switch-square custom-control-comprador mb-2">
                                <input type="checkbox" class="custom-control-input" id="sc_s_compradores" checked="">
                                <label class="custom-control-label" for="sc_s_compradores">Compradores</label>
                            </div>
                            <div class="map-container" id="mapaVentas" style="position: relative; overflow: hidden;">
                                @*<div style="height: 100%; width: 100%; position: absolute; top: 0px; left: 0px; background-color: rgb(229, 227, 223);">*@
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="modal_info_heatmap" class="modal fade" tabindex="-1" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="d-block w-100" src="~/global_assets/images/heatmap-1.jpeg" alt="First slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="~/global_assets/images/heatmap-2.jpeg" alt="Second slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="~/global_assets/images/heatmap-3.jpeg" alt="Third slide">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="modal_info_eventos" class="modal fade" tabindex="-1" aria-hidden="true" style="display: none;">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                    <ol class="carousel-indicators">
                        <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                        <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                    </ol>
                    <div class="carousel-inner">
                        <div class="carousel-item active">
                            <img class="d-block w-100" src="~/global_assets/images/historialdeventas.png" width="700" height="500" alt="First slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="~/global_assets/images/historialdeventas.png" width="700" height="500" alt="Second slide">
                        </div>
                        <div class="carousel-item">
                            <img class="d-block w-100" src="~/global_assets/images/historialdeventas.png" width="700" height="500" alt="Third slide">
                        </div>
                    </div>
                    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                        <span class="carousel-control-next-icon" aria-hidden="true"></span>
                        <span class="sr-only">Next</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>
<div id="modal_info_mapa" class="modal fade" tabindex="-1" aria-hidden="true" style="display: none;">
<div class="modal-dialog modal-lg">
    <div class="modal-content">
        <div class="modal-body">
            <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <img class="d-block w-100" src="~/global_assets/images/historialdeventas.png" alt="First slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="~/global_assets/images/historialdeventas.png" alt="Second slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block w-100" src="~/global_assets/images/historialdeventas.png" alt="Third slide">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            </div>
        </div>
    </div>
</div>
</div>
<style type="text/css">
    .custom-control-vendedor .custom-control-input:checked ~ .custom-control-label::before, .custom-control-success .custom-control-input:disabled:checked ~ .custom-control-label::before {
        background-color: #f35c86;
        border-color: #f35c86;
    }

    .custom-control-comprador .custom-control-input:checked ~ .custom-control-label::before, .custom-control-success .custom-control-input:disabled:checked ~ .custom-control-label::before {
        background-color: #009688;
        border-color: #009688;
    }
</style>

<script src="~/assets/js/OrdersCharts.js"></script>
<!--<script src="https://unpkg.com/@@googlemaps/markerclustererplus/dist/index.min.js"></script>-->
<script src="~/assets/js/chart-marker-clusterer.js"></script>
<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAs_m9pdnAILwNEQznTqLbogShI7jpnQyQ&callback=initMap"></script>
@section Scripts
    {
    <script type="text/javascript">
        var map;
        var markersComprador = [];
        var markersVendedor = [];
        var markersGlobal = [];
        var marker;
        var markerClusterVendedor;
        var markerClusterComprador;
        var markerCluster;
        google.charts.load('current', { 'packages': ['corechart'] });

        MarkerClusterer.CALCULATOR = function (markers, numStyles) {
            var index = 0;
            var title = "";

            var valueToSum = 0;

            for (var m = 0; m < markers.length; m++) {
                //This is the custom property called MyValue
                valueToSum += Number(markers[m].cantidad);
            }

            var dv = 5;

            while (dv !== 0) {
                dv = parseInt(dv / 10, 10);  //you could define your own rules
                index++;
            }

            index = Math.min(index, numStyles);
            return {
                text: valueToSum,
                index: index,
                title: title
            };
        };

        document.addEventListener('DOMContentLoaded', function () {

            $('#calendarSoldQtty').addClass('loader');
            $('#SoldQttyAndEvents').addClass('loader');

            $('#sidebar-toggle').click();

             $.post('/Sales/GetSalesQttyByDay', { executionId: @Model.Execution.IdExecution })
                .done(function (salesData) {
                    _showSoldQttyCalendarChart(salesData);
                    _showSoldQttyAndEventsChart(salesData);
                })
                .fail(function (e) {
                    $.jGrowl(e.responseText, { theme: 'growl-error', header: ' ERROR ', life: 3000 });
                });



        });



        function initMap() {
            var ubicacion = { lat: -34.6, lng: -58.45 };
            map = new google.maps.Map(document.getElementById('mapaVentas'), {
                center: ubicacion,
                zoom: 12,
                mapTypeControl: false,
                fullscreenControl: true,
                streetViewControl: false,
                tilt: 45,
                styles: [{
                    featureType: 'poi',
                    elementType: 'all',
                    stylers: [{ visibility: 'off' }],

                }]
            });


            infowindow = new google.maps.InfoWindow();
            var color = '';
            var path = google.maps.SymbolPath.CIRCLE;
            path = "M 0 -0.7 a 0.7 0.7 90 0 0 0 1.4 a 0.7 0.7 90 0 0 0 -1.4";
            color = '#009688';

            @foreach(var itemComprador in Model.SalesPerCityComprador)
            {
                if(itemComprador.Cantidad > 10)
                {
                    <text>
                         marker = new google.maps.Marker({
                            position: {
                                lat: @itemComprador.Latitud,
                                lng: @itemComprador.Longitud
                            },
                            label: {
                                text: "@itemComprador.Cantidad",
                                fontSize: '11px'
                            },
                            title: "Comprador",
                            icon: {
                                path: path,
                                scale: 15,
                                fillColor: color,
                                fillOpacity: 0.8,
                                strokeWeight: 0.9,
                                strokeColor: '#fcfcfc'
                            },
                            map: map,
                             tipo: "COMPRADOR",
                             ciudad: "@itemComprador.City",
                            cantidad: @itemComprador.Cantidad
                        });

                    marker.addListener('mouseover', function () {
                                infoTooltip(this);
                        });

                        marker.addListener('mouseout', function () {
                            infowindow.close();
                        });

                    markersComprador.push(marker);

                    </text>
                }

            }

            path = "M 0 -0.7 a 0.7 0.7 90 0 0 0 1.4 a 0.7 0.7 90 0 0 0 -1.4";
            color = '#f35c86';


             @foreach(var itemComprador in Model.SalesPerCityVendedor)
             {
                 if (itemComprador.Cantidad > 10)
                 {
                      <text>

                      marker = new google.maps.Marker({
                            position: {
                              lat: @itemComprador.Latitud + 0.006,
                              lng: @itemComprador.Longitud + 0.006
                            },
                            label: {
                                text: "@itemComprador.Cantidad",
                                fontSize: '11px'
                            },
                            title: "Vendedor",
                            icon: {
                                path: path,
                                scale: 15,
                                fillColor: color,
                                fillOpacity: 0.8,
                                strokeWeight: 0.9,
                                strokeColor: '#fcfcfc'
                            },
                            map: map,
                            tipo: "VENDEDOR",
                             ciudad: "@itemComprador.City",
                            cantidad: @itemComprador.Cantidad
                        });

                        marker.addListener('mouseover', function () {
                            infoTooltip(this);
                        });

                        marker.addListener('mouseout', function () {
                            infowindow.close();
                        });

                        markersVendedor.push(marker);
                    </text>
                 }

            }

            function infoTooltip(marker) {
                if (marker.tipo === "COMPRADOR") {
                    var content = '<div>Las compras en la ciudad ' +
                        marker.ciudad + ' son ' + marker.cantidad + '</div>';
                    infowindow.setOptions({ content: content, position: marker.position, pixelOffset: new google.maps.Size(0, -10) });
                    infowindow.open(map);
                } else {
                    var content = '<div>Las ventas en la ciudad ' +
                        marker.ciudad + ' son ' + marker.cantidad + '</div>';
                    infowindow.setOptions({ content: content, position: marker.position, pixelOffset: new google.maps.Size(0, -10) });
                    infowindow.open(map);
                }
            }


            markersGlobal = markersComprador;
            markersGlobal = markersGlobal.concat(markersVendedor);

            var opt = {
                "styles": [
                    { textColor: "black", textSize: 10, height: 90, width: 90 },
                    { textColor: "black", textSize: 10, height: 100, width: 100 },
                    { textColor: "black", textSize: 10, height: 110, width: 110 },
                    { textColor: "black", textSize: 10, height: 120, width: 120 },
                    { textColor: "black", textSize: 10, height: 130, width: 130 }
                ], "ignoreHidden" : true
            };

            markerCluster = new MarkerClusterer(map, markersGlobal, opt);

        };

            $("#sc_s_vendedores").change(function () {
                filtrarPorTipo("VENDEDOR", this.checked);
            });

            $("#sc_s_compradores").change(function () {
                filtrarPorTipo("COMPRADOR", this.checked);
            });

        function filtrarPorTipo(tipoCliente, visibility) {
            if (tipoCliente === "COMPRADOR") {
                for (var i = 0; i < markersComprador.length; i++) {
                    if (visibility) {
                        markersComprador[i].setVisible(true);
                    }
                    else {
                        markersComprador[i].setVisible(false);
                    }
                }
                markerCluster.repaint();
            } else {
                for (var i = 0; i < markersVendedor.length; i++) {
                    if (visibility) {
                        markersVendedor[i].setVisible(true);
                    }
                    else {
                        markersVendedor[i].setVisible(false);
                    }
                }
                markerCluster.repaint();
            }
         }

        var _showSoldQttyCalendarChart = function (SalesData) {

            var data = [];
            SalesData.items.forEach(function (valor, indice, array) {
                data.push([
                    echarts.format.formatTime('yyyy-MM-dd', valor.date),
                    valor.quantity
                ]);
            });
            $('#calendarSoldQtty').removeClass('loader');
            _calendarPurchaseOrdersQtty('calendar_single',
                data, SalesData.minValue,
                SalesData.maxValue,
                echarts.format.formatTime('yyyy-MM-dd', SalesData.items[0].date),
                echarts.format.formatTime('yyyy-MM-dd', SalesData.items[SalesData.items.length - 1].date));
        }

        var _showSoldQttyAndEventsChart = function (SalesData) {

            var data = [];
            var dates = [];
            var events = [];
            SalesData.items.forEach(function (valor, indice, array) {
                dates.push(echarts.format.formatTime('dd/MM/yyyy', valor.date))
                data.push(valor.quantity);
            });

            $.post('/Sales/GetEventsByRange', { from: '01/01/2020', to: '31/12/2021'})
                .done(function (eventDates) {
                    eventDates.forEach(function (valor, indice, array) {
                        var evento = [];
                        evento.push({ name: valor.name, xAxis: echarts.format.formatTime('dd/MM/yyyy', valor.fechaDesde)});
                        evento.push({ name: valor.name, xAxis: echarts.format.formatTime('dd/MM/yyyy', valor.fechaHasta) });
                        events.push(evento);
                    });

                    $('#SoldQttyAndEvents').removeClass('loader');
                    _purchaseSoldQttyAndEvents('line_zoom', dates, data, events);

                })
                .fail(function (e) {
                    $.jGrowl(e.responseText, { theme: 'growl-error', header: ' ERROR ', life: 3000 });
                });




        }



    </script>
}